
// gotta get the rounded edges for nav-inverse!
.navbar-noround {
    border-radius: 0%;
}

#navbarcollapse{
    font-family: Roboto;
    font-weight: 300;  
}

.option-menu {
    font-family: Roboto;
    font-weight: 300;
    color: #fff;
}

.web-bg {
    background-color: #393939;
}

#canvasHolder {
	width: 100%;
	height: 450px;
	position: relative;
	margin: auto;
}