.ex-lines {
  position: absolute;
  margin-left:-60px;
}
.expath01 {
  stroke: #1ebaff;
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  transform: scale(1.0);
  opacity:0;
}
.expath02-0 {
  stroke: #ff0000;
  stroke-dasharray: 90;
  stroke-dashoffset: 90;
  transform: scale(1.0);
  opacity:0;
}
.expath02-1 {
  stroke: #ff0000;
  stroke-dasharray: 115;
  stroke-dashoffset: 115;
  transform: scale(1.0);
  opacity:0;
}
.expath02-2 {
  stroke: #ff0000;
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  transform: scale(1.0);
  opacity:0;
}
.expath02-3 {
  stroke: #ff0000;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transform: scale(1.0);
  opacity:0;
}
.expath02-4 {
  stroke: #ff0000;
  stroke-dasharray: 110;
  stroke-dashoffset: 110;
  transform: scale(1.0);
  opacity:0;
}
.expath03 {
  stroke: #ff4411;
  stroke-dasharray: 90;
  stroke-dashoffset: 90;
  transform: scale(1.0);
  opacity:0;
}
.expath04-0 {
  stroke: #FFFF99;
  stroke-dasharray: 90;
  stroke-dashoffset: 90;
  transform: scale(1.0);
  opacity:0;
}
.expath04-1 {
  stroke: #FFFF99;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transform: scale(1.0);
  opacity:0;
}
.expath04-2 {
  stroke: #FFFF99;
  stroke-dasharray: 120;
  stroke-dashoffset: 120;
  transform: scale(1.0);
  opacity:0;
}
.expath05 {
  stroke: #ff4422;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transform: scale(1.0);
  opacity:0;
}
.path01-animation{
  animation: exdash 6s 9s ease-out forwards;
}
.path02-animation{
  animation: exdash 8s 18s ease-out forwards;
}
.path03-animation{
  animation: exdash 6s 27s ease-out forwards;
}
.path04-animation{
  animation: exdash 8s 36s ease-out forwards;
}
.path05-animation{
  animation: exdash 6s 45s ease-out forwards;
}
@keyframes exdash {
  10% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}


.expath01-dash-0 {
  stroke: #393939;
  stroke-dasharray: 1.8;
  stroke-dashoffset: -1.8;
  transform: scale(1.0);
}
.expath01-dash-1 {
  stroke: #393939;
  stroke-dasharray: 2.1;
  stroke-dashoffset: 2.1;
  transform: scale(1.0);
}
.expath01-dash-2 {
  stroke: #393939;
  stroke-dasharray: 2.2;
  stroke-dashoffset: 2.2;
  transform: scale(1.0);
}


.expath03-dash-0 {
  stroke: #393939;
  stroke-dasharray: 2.3;
  stroke-dashoffset: 2.3;
  transform: scale(1.0);
}
.expath03-dash-1 {
  stroke: #393939;
  stroke-dasharray: 2;
  stroke-dashoffset: -2;
  transform: scale(1.0);
}
.expath03-dash-2 {
  stroke: #393939;
  stroke-dasharray: 2.1;
  stroke-dashoffset: -2.1;
  transform: scale(1.0);
}


.expath05-dash-0 {
  stroke: #393939;
  stroke-dasharray: 2.2;
  stroke-dashoffset: -2.2;
  transform: scale(1.0);
}
.expath05-dash-1 {
  stroke: #393939;
  stroke-dasharray: 2;
  stroke-dashoffset: 2;
  transform: scale(1.0);
}
.expath05-dash-2 {
  stroke: #393939;
  stroke-dasharray: 1.7;
  stroke-dashoffset: -1.7;
  transform: scale(1.0);
}


