
/* ----------------------------------------------
 line - nodes
---------------------------------------------- */
.slide-ex{}

.node1{
  position: absolute;
  display: inline-block;
  top: 310px;
  left: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  z-index:10;
  background-color: #FF7777;
  border: 0px solid #FF0000;
  transform: scale(0.0);
}
.node1-animation {
  -webkit-animation: node1-animation 2s 4s ease-out forwards;
}
@-webkit-keyframes node1-animation {
  to {
    border-width: 4px;
    transform: scale(1.0);
  }
}
.node2{
  position: absolute;
  display: inline-block;
  top: 180px;
  left: 240px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  z-index:10;
  background-color: #002952;
  border: 0px solid #FF0000;
  transform: scale(0.0);
}
.node2-animation {
  -webkit-animation: node2-animation 1.5s 9s ease-out forwards;
}
@-webkit-keyframes node2-animation {
  to {
    border-radius: 10%;
    border-width: 2px;
    transform: scale(1.0);
  }
}
.node3{
  position: absolute;
  display: inline-block;
  top: 390px;
  left: 280px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  z-index:10;
  background-color: #FFF;
  border: 0px solid #FF0000;
  transform: scale(0.0);
}
.node3-animation {
  -webkit-animation: node3-animation 1.3s 18s ease-out forwards;
}
@-webkit-keyframes node3-animation {
  to {
    border-width: 3px;
    transform: scale(1.0);
  }
}
.node4{
  position: absolute;
  display: inline-block;
  top: 230px;
  left: 440px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  z-index:10;
  background-color: #002952;
  border: 0px solid #FF0000;
  transform: scale(0.0);
}
.node4-animation {
  -webkit-animation: node4-animation 2.2s 27s ease-out forwards;
}
@-webkit-keyframes node4-animation {
  to {
    border-radius: 10%;
    border-width: 4px;
    transform: scale(1.0);
  }
}
.node5{
  position: absolute;
  display: inline-block;
  top: 430px;
  left: 515px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index:10;
  background-color: #FF66CC;
  border: 0px solid #FF0000;
  transform: scale(0.0);
}
.node5-animation {
  -webkit-animation: node5-animation 1.1s 36s ease-out forwards;
}
@-webkit-keyframes node5-animation {
  to {
    border-width: 3px;
    transform: scale(1.0);
  }
}
.node6{
  position: absolute;
  display: inline-block;
  top: 430px;
  left: 690px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  z-index:10;
  background-color: #002952;
  border: 0px solid #FF0000;
  transform: scale(0.0);
}
.node6-animation {
  -webkit-animation: node6-animation 2.4s 45s ease-out forwards;
}
@-webkit-keyframes node6-animation {
  to {
    border-radius: 10%;
    border-width: 4px;
    transform: scale(1.0);
  }
}