
/* ----------------------------------------------
 line - lines
---------------------------------------------- */

.dash-lines {
  position: relative;
  display: inline;
  float:left;
  top: 135px;
  left: 238px;
  width: 100px;
  height: 100px;
  transform: scale(4.5);
  opacity: 0;
  margin-left: -100px;
}
.dash-lines-animation {
  -webkit-animation: dashhide 70s linear;
}
.dash-path01 {
  stroke: #393939;
  stroke-dasharray: 3;
  stroke-dashoffset: -3;
  transform: scale(1.0);
}
.dash-path02 {
  stroke: #393939;
  stroke-dasharray: 3;
  stroke-dashoffset: -3;
  transform: scale(1.0);
}
.dash-path03 {
    stroke: #393939;
  stroke-dasharray: 3;
  stroke-dashoffset: -3;
  transform: scale(1.0);
}
.dash-path04 {
    stroke: #393939;
  stroke-dasharray: 3;
  stroke-dashoffset: -3;
  transform: scale(1.0);
}
.dash-path05 {
    stroke: #393939;
  stroke-dasharray: 4;
  stroke-dashoffset: -4;
  transform: scale(1.0);
}
.dash-path06 {
    stroke: #393939;
  stroke-dasharray: 4;
  stroke-dashoffset: -4;
  transform: scale(1.0);
}
@-webkit-keyframes dashhide {
  67% {
    opacity: 0;
  }
  68% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


