
/* ----------------------------------------------
 line - nodes
---------------------------------------------- */
.slide-lines{}

.start-node-label {
  position:absolute:
  display:inline-block;
  font-size: 14px !important;
  width:150px;
  margin: 40px 0 12px -30px;
}
.end-node-label-0 {
  position:absolute:
  display:inline-block;
  font-size: 14px !important;
  width:120px;
  margin: 24px 0 12px -30px;
  -webkit-animation: label0animation 2s 37s ease-in forwards;
  opacity:1;
}
.end-node-label-1 {
  position:absolute:
  display:inline-block;
  font-size: 10px !important;
  width:120px;
  margin: -50px 0 12px -30px;
  -webkit-animation: label1animation 2s 37s ease-in forwards;
  opacity:0;
}
@-webkit-keyframes label0animation{
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes  label1animation{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.start-node{
  position: relative;
  display: inline-block;
  float:left;
  top: 175px;
  left: 200px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  z-index:10;
  background-color: #FF7777;
  border: 4px solid #FF0000;
  transform: scale(0.0);
}
@-webkit-keyframes nodestart {
  2% {
    transform: scale(1.0);
    background-color: #FF7777;
  }

  100% {
    transform: scale(1.0);
    background-color: #FF7777;
  }
}
.start-node-animation{
  -webkit-animation: nodestart 70s linear;
}
.end-node{
  position: relative;
  display: inline-block;
  float:left;
  top: 175px;
  left: 445px;
  width: 24px;
  height: 24px;
  background-color: #FFF;
  border-radius: 50%;
  z-index:10;
  border: 2px solid #FF0000;
  transform: scale(0.0);
}
.end-node-animation{
  -webkit-animation: nodeend 70s linear;
}
@-webkit-keyframes nodeend {
  2% {
    transform: scale(1.0);
    background-color: #FFF;
  }

  56% {
    background-color: #FFF;
    transform: scale(1.0);
    border-radius: 50%;
  }

  57% {
    background-color: #0066CC;
    transform: scale(1.4);
    border-radius: 10%;
  }

  100% {
    background-color: #0066CC;
    transform: scale(1.4);
    border-radius: 10%;
  }
}
