.lines {
  position: relative;
  display: inline;
  float:left;
  top: 135px;
  left: 238px;
  width: 100px;
  height: 100px;
  transform: scale(4.5);
  margin: 1px;
}
.path01 {
  stroke: #393939;
  stroke-dasharray: 80;
  stroke-dashoffset: -80;
  transform: scale(1.0);
  opacity:0;
}
.path02 {
  stroke: #393939;
  stroke-dasharray: 90;
  stroke-dashoffset: -90;
  transform: scale(1.0);
  opacity:0;
}
.path03 {
  stroke: #393939;
  stroke-dasharray: 90;
  stroke-dashoffset: -90;
  transform: scale(1.0);
  opacity:0;
}
.path04 {
  stroke: #393939;
  stroke-dasharray: 100;
  stroke-dashoffset: -100;
  transform: scale(1.0);
  opacity:0;
}
.path05 {
  stroke: #393939;
  stroke-dasharray: 100;
  stroke-dashoffset: -100;
  transform: scale(1.0);
  opacity:0;
}
.path06 {
  stroke: #393939;
  stroke-dasharray: 100;
  stroke-dashoffset: -100;
  transform: scale(1.0);
  opacity:0;
}
.path-animation-first{
  animation: dash 2.5s ease-out infinite, lineanim-first 70s linear, linecolor 70s linear;
}
.path-animation-second{
  animation: dash 2.5s ease-out infinite, lineanim-second 70s linear, linecolor 70s linear;
}
.path-animation-third{
  animation: dash 2.5s ease-out infinite, lineanim-third 70s linear, linecolor 70s linear;
}
.path-animation-fourth{
  animation: dash 2.5s ease-out infinite, lineanim-fourth 70s linear, linecolor 70s linear;
}
.path-animation-fifth{
  animation: dash 2.5s ease-out infinite, lineanim-fifth 70s linear, linecolor 70s linear;
}
.path-animation-sixth{
  animation: dash 2.5s ease-out infinite, lineanim-sixth 70s linear, linecolor 70s linear;
}
.path-animation{
  animation: dash 2.5s ease-out infinite, lineanim 70s linear, linecolor 70s linear;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes lineanim-first {
  18% {
    opacity: 0;
  }
  19% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  68% {
    opacity: 0;
  }
  69% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lineanim-second {
  36% {
    opacity: 0;
  }
  37% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  76% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lineanim-third {
  37% {
    opacity: 0;
  }
  38% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  76% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lineanim-fourth {
  38% {
    opacity: 0;
  }
  39% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  76% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lineanim-fifth {
  39% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  76% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lineanim-sixth {
  40% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  76% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes linecolor {
  1% {
    stroke: #fff;
  }
  44% {
    stroke: #fff;
  }
  45% {
    stroke: #1ebaff;
  }
  47% {
    stroke: #1ebaff;
  }
  48% {
    stroke: #FFFF99;
  }
  51% {
    stroke: #FFFF99;
  }
  52% {
    stroke: #FF5050;
  }
  56% {
    stroke: #FF5050;
  }
  79% {
    stroke: #fff;
  }
  83% {
    stroke: #fff;
  }
  84% {
    stroke: #1ebaff;
  }
  86% {
    stroke: #1ebaff;
  }
  87% {
    stroke: #FFFF99;
  }
  89% {
    stroke: #FFFF99;
  }
  90% {
    stroke: #FF5050;
  }
  100% {
    stroke: #FF5050;
  }
}