
/* ----------------------------------------------
 line - nodes
---------------------------------------------- */
.slide-lines{}

.start-node{
  position: relative;
  display: inline-block;
  float:left;
  top: 145px;
  left: 90px;
  width: 24px;
  height: 24px;
  background-color: #4AA02C;
  border-radius: 50%;
  z-index:10;
  border: 2px solid #FF5050;
  transform: scale(1.0);
}
.start-node-animation{
  -webkit-animation: nodestart 2.5s 100ms infinite ease-out;
}
.end-node{
  position: relative;
  display: inline-block;
  float:left;
  top: 145px;
  left: 340px;
  width: 24px;
  height: 24px;
  background-color: #C11B17;
  border-radius: 50%;
  z-index:10;
  border: 2px solid #ff8c19;
  transform: scale(1.0);
}
.end-node-animation{
  -webkit-animation: nodeend 2.5s 150ms infinite ease-out, deathhide 20s 100ms infinite ease-out; 
}
@-webkit-keyframes nodestart {
  0% {
    transform: scale(1.0);
    background-color: #4AA02C;
  }

  7% {
    background-color: #fff;
  }

  14% {
    transform: scale(1.4);
    background-color: #4AA02C;
  }

  21% {
    background-color: #fff;
  }

  28% {
    transform: scale(1.0);
    background-color: #4AA02C;
  }
}

@-webkit-keyframes nodeend {
  72% {
    transform: scale(1.0);
    background-color: #C11B17;
  }

  79% {
    background-color: #fff;
  }

  86% {
    transform: scale(1.4);
    background-color: #C11B17;
  }

  93% {
    background-color: #fff;
  }

  100% {
    transform: scale(1.0);
    background-color: #C11B17;
  }
}

/* ----------------------------------------------
 line - lines
---------------------------------------------- */
.lines {
  position: relative;
  display: inline;
  float:left;
  top: 105px;
  left: 138px;
  width: 100px;
  height: 100px;
  transform: scale(4.5);
}
.dash-lines {
  position: relative;
  display: inline;
  float:left;
  top: 105px;
  left: 138px;
  width: 100px;
  height: 100px;
  transform: scale(4.5);
  opacity: 0;
  margin-left: -100px;
}
.dash-lines-animation {
  animation: dashhide 30s 3s infinite;
}
.path01 {
  stroke: #393939;
  stroke-dasharray: 80;
  stroke-dashoffset: -80;
  transform: scale(1.0);
}
.path02 {
  stroke: #393939;
  stroke-dasharray: 90;
  stroke-dashoffset: -90;
  transform: scale(1.0);
}
.path03 {
  stroke: #393939;
  stroke-dasharray: 90;
  stroke-dashoffset: -90;
  transform: scale(1.0);
}
.path04 {
  stroke: #393939;
  stroke-dasharray: 100;
  stroke-dashoffset: -100;
  transform: scale(1.0);
}
.path05 {
  stroke: #393939;
  stroke-dasharray: 100;
  stroke-dashoffset: -100;
  transform: scale(1.0);
}
.path06 {
  stroke: #393939;
  stroke-dasharray: 100;
  stroke-dashoffset: -100;
  transform: scale(1.0);
}
.path-animation{
  animation: dash 2.5s 100ms ease-out infinite, strokeclr 30s 3s infinite;
}
.dash-path01 {
  stroke: #393939;
  stroke-dasharray: 3;
  stroke-dashoffset: -3;
  transform: scale(1.0);
}
.dash-path02 {
  stroke: #393939;
  stroke-dasharray: 3;
  stroke-dashoffset: -3;
  transform: scale(1.0);
}
.dash-path03 {
    stroke: #393939;
  stroke-dasharray: 3;
  stroke-dashoffset: -3;
  transform: scale(1.0);
}
.dash-path04 {
    stroke: #393939;
  stroke-dasharray: 3;
  stroke-dashoffset: -3;
  transform: scale(1.0);
}
.dash-path05 {
    stroke: #393939;
  stroke-dasharray: 4;
  stroke-dashoffset: -4;
  transform: scale(1.0);
}
.dash-path06 {
    stroke: #393939;
  stroke-dasharray: 4;
  stroke-dashoffset: -4;
  transform: scale(1.0);
}


@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes strokeclr {
  15% {
    stroke: #1ebaff;
  }
  20% {
    stroke: #FF5050;
  }
  30% {
    stroke: #FF5050;
  }
  35% {
    stroke: #ff8c19;
  }
  45% {
    stroke: #ff8c19;
  }
  50% {
    stroke: #1ebaff;
  }
  99% {
    stroke: #1ebaff;
  }
  100% {
    stroke: #393939;
  }
}

@keyframes dashhide {
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes deathhide {
  52% {
    border-radius: 50%;
  }
  57% {
    border-radius: 10%;
  }
  99% {
    border-radius: 10%;
  }
  100% {
    border-radius: 50%;
  }
}

