.line-meta-mask {
  position:relative;
  width: 76%;
  margin: 32px auto 10px auto;
  font-size: 14px;
  line-height : 16px;
  height: 36px;
  top: 40px;
  left: 60px;
}
.line-meta {
  top: 290px;
  position:absolute;
  width:inherit;
  text-align: center;
  opacity:0;
}

.line-meta-01 {
  -webkit-animation: line-meta-01-animation 70s linear;
}
.line-meta-02 {
  -webkit-animation: line-meta-02-animation 70s linear;
}
.line-meta-03 {
  -webkit-animation: line-meta-03-animation 70s linear;
}

@keyframes line-meta-01-animation {
  33% {
    opacity: 0;
  }
  34% {
    opacity: 1;
  }
  43% {
    opacity: 1;
  }
  44% {
    opacity: 0;
  }
}
@keyframes line-meta-02-animation {
  44% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
}
@keyframes line-meta-03-animation {
  76% {
    opacity: 0;
  }
  77% {
    opacity: 1;
  }
  88% {
    opacity: 1;
  }
  89% {
    opacity: 0;
  }
}