.node-name {
  position:absolute;
  display: block;
  text-align: center;
  top: 48px;
  left: 0px;
  width: 100%;
  font-size: 12px;
  line-height : 14px;
  color: #DDDDDD;
  opacity:0;
}
.node-name-first-animation {
  -webkit-animation: node-name-first  90s 0s linear forwards;
}
.node-name-second-animation {
  -webkit-animation: node-name-second 90s 0s linear forwards;
}
.node-name-third-animation {
  -webkit-animation: node-name-third  90s 0s linear forwards;
}
.node-name-fourth-animation {
  -webkit-animation: node-name-fourth 90s 0s linear forwards;
}
.node-name-fifth-animation {
  -webkit-animation: node-name-fifth  90s 0s linear forwards;
}
@-webkit-keyframes node-name-first {
  9% {
    opacity:0;
  }
  10% {
    opacity:1;
  }
  13% {
    opacity:1;
  }
  14% {
    opacity:0;
  }
}
@-webkit-keyframes node-name-second {
  13% {
    opacity:0;
  }
  14% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  18% {
    opacity:0;
  }
}
@-webkit-keyframes node-name-third {
  17% {
    opacity:0;
  }
  18% {
    opacity:1;
  }
  21% {
    opacity:1;
  }
  22% {
    opacity:0;
  }
}
@-webkit-keyframes node-name-fourth {
  21% {
    opacity:0;
  }
  22% {
    opacity:1;
  }
  53% {
    opacity:1;
  }
  54% {
    opacity:0;
  }
}
@-webkit-keyframes node-name-fifth {
  53% {
    opacity:0;
  }
  54% {
    opacity:1;
  }
  83% {
    opacity:1;
  }
  86% {
    opacity:0;
  }
}