.patient {
	position:absolute;
  	width: 100%;
  	font-size: 16px;
  	line-height : 18px;
  	height: 36px;
  	top: 220px;
  	left: -120px;
  	z-index: 10;
  	opacity:0;
}

.patientX-animation {
	-webkit-animation: patientX-animation 70s linear;
}

.patientY-animation {
	-webkit-animation: patientY-animation 70s linear;
}

@-webkit-keyframes patientX-animation {
	4% {
		opacity: 0;
	}
	5% {
		opacity: 1;
		left:-120px;
	}
	6% {
		opacity: 0.2;
	}
	7% {
		opacity: 1;
	}
	8% {
		opacity: 0.2;
	}
	9% {
		opacity: 1;
	}
	10% {
		opacity: 0.2;
	}
	11% {
		opacity: 1;
		left:144px;
	}
	12% {
		opacity: 1;
		left:144px;
	}
	13% {
		opacity: 0;
	}
	100% {
		left:144px;
		opacity: 0;
	}
}

@-webkit-keyframes patientY-animation {
	57% {
		opacity: 0;
	}
	58% {
		opacity: 1;
		left:-120px;
	}
	59% {
		opacity: 0.2;
	}
	60% {
		opacity: 1;
	}
	62% {
		opacity: 0.2;
	}
	63% {
		opacity: 1;
	}
	64% {
		opacity: 0.2;
	}
	65% {
		opacity: 1;
		left:144px;
	}
	66% {
		opacity: 1;
		left:144px;
	}
	67% {
		opacity: 0;
	}
	100% {
		left:144px;
		opacity: 0;
	}
}