
#sextime {
 	font-family: Roboto;
    font-size: 15px;
    font-weight: 300;

	min-width:300px;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:10px;
	padding: 0 11px 0 13px;
    text-overflow: ellipsis;

    // this will disable mobile time input look
    -webkit-appearance: none;
    -moz-appearance: none;

    display: inline;
}

#sexfindbtn {
    height: 40px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    max-width:150px;
    margin-top:5px;
    margin-bottom:5px;
    margin-right:10px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;

    display: inline;
}

#sexlikebtn {
    height: 40px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    width:40px;
    margin-top:5px;
    margin-bottom:5px;
    margin-right:10px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;

    display: inline;
}

#sexposttarget {
    font-size:24px;
}

#sexsubmit {
	height: 40px;
 	font-family: Roboto;
    font-size: 15px;
    font-weight: 300;

	//width:50%;
	min-width:300px;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:10px;
	padding: 0 11px 0 13px;
    text-overflow: ellipsis;

    display: inline;
}

#sexplace {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;

    min-width:300px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:10px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;

    display: inline;
}

#sexplace-placeholder {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    color: gray;
    min-width:300px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:10px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;

    display: inline;
}

#sextarget {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    min-width:300px;
    margin-top:5px;
    margin-bottom:5px;
    margin-right:10px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    display: inline;
}
