<!-- 이 파일은 .ejs 를 쓰고 있다. views folder안에 들어가 있어야 하는듯. -->

<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<link rel="stylesheet" href="/app.css">
	<link rel="stylesheet" type="text/css" href="./sweetalert.css">
	
	 	<!-- jquery -->
    <script src="jquery-2.1.4.min.js"></script>

	<!-- angular -->
	<script src="angular.min.js"></script>

	<!-- angular-route -->
    <script src="angular-route.min.js"></script>

    <!-- meta data -->
    <script src="p5sketch/node_color_ref.js"></script>

    <!-- p5 -->
    <script src="p5/p5.js" type="text/javascript"></script>
    <script src="p5/p5.dom.js" type="text/javascript"></script>
    <script src="p5/p5.sound.js" type="text/javascript"></script>

    <!-- data visualization nodes -->
    <script src="Etage/Etage.js" type="text/javascript"></script>
    <script src="Trajet/Trajet.js" type="text/javascript"></script>
    <script src="Etage/EtageManager.js" type="text/javascript"></script>
    <script src="Trajet/TrajetManager.js" type="text/javascript"></script>

    <!-- p5 sketch -->
    <script src="p5sketch/sketch.js" type="text/javascript"></script>

   <!-- sweet alert -->
	<script src="./sweetalert.min.js"></script> 

    <!-- express static use -->
    <script src='/app.js'></script> 

</head>
<body ng-app='app' ng-controller='ApplicationCtrl' class='web-bg'>

	<!-- navigation bar -->
	<nav class='navbar navbar-inverse navbar-noround' role='navigation'>
		<div class='container'>
   			<div class="navbar-header">
	   			<button type="button" class="navbar-toggle" ng-click="navCollapsed = !navCollapsed">
	   				<span class='sr-only'>Toggle navigation</span>
	   				<span class='icon-bar'></span>
	   				<span class='icon-bar'></span>
	   				<span class='icon-bar'></span>
	   			</button>
	            <a class="navbar-brand option-menu" id="google" href="/#/">UCSF Computational Biology Data Visualization</a><!--A BlueMarble Traveler</a>-->
			</div>

			<div ng-class="{'in':!navCollapsed}" class="navbar-collapse collapse" collapse="navCollapsed">
				<ul class='nav navbar-nav'  id='google'>
					
	                <li ng-if='currentUser'>
	                    <a ng-href="/#/account" ng-click="changePassword()">
	                    	Account
	                    </a>
	                </li>
					<li ng-if='currentUser'>
	                    <a ng-href="/#/logout" ng-click="logout()">
	                    	Logout
	                    </a>
	                </li>
	                
				</ul>
				<!-- let's distract user by hiding username like hiding clock at casino!
				<p ng-if='currentUser' class="navbar-text navbar-right" id='google'>
	               Signed in as {{currentUser.userName}}
	       		</p>
	       		-->
			</div>
		</div>
	</nav>
</div>

	<!-- pages ngview -->
	<div ng-view></div>
	
</body>
</html>

