
/* ----------------------------------------------
 global
---------------------------------------------- */
.web-bg {
    font-family: 'lato'; 
    background: #393939;
}
.data-visibility {
    display:none;
}
.data-visibility.active{
    display:block;
}
#canvasHolder {
    width: 100%;
    height: 450px;
    position: relative;
    margin: auto;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/IY9HZVvI1cMoAHxvl0w9LVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* ----------------------------------------------
 nav
---------------------------------------------- */
.navbar-noround {
    border-radius: 0%;
}
#navbarcollapse{
    font-family: 'lato'; 
}
.navbar-noround {
    border-radius: 0px;
}
.logo {
    margin-top: 4px;
    display:block;
    width: 120px;
    height: 40px;
    background-image: url("logo.png");
    background-size: 120px 88px;
    background-position: 0px 40px;
    transition: background-position 0.5s;
}
.logo:hover{
    background-position: 0 0px;
}

/* -----------------------------------------------
 data pag
----------------------------------------------- */
.data-page {
    background: #393939;
    color: #fff;
}

/* ----------------------------------------------
 intro page
---------------------------------------------- */
.intro-page {
    background-color: #F93939;
}

/* ----------------------------------------------
 slider
---------------------------------------------- */
.slide-wrap {
  margin: 5% auto 0;
  width: 70%;
}
.slide-mask {
  position: relative;
  overflow: hidden;
  height: 580px;
  width:  100%;
}
.slide-group {
  position: absolute; 
  top:  0px; 
  left: 0px;
  height: 100%;
  width: 100%;
}
.slide {
  height: 580px;
  width: 100%;
  font-family: "lato";
  font-size: 2em;
  color: #fff;
  text-align: center;
  list-style-type: none;
  background-color: #393939;
  display: block;
}

/* ----------------------------------------------
 slider
---------------------------------------------- */
.slide-nav {
  text-align: center;
}
.slide-nav ul {
    margin: 0 0 0 20px;
    padding: 0;
}
.slide-nav li {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: rgb(175, 56, 56);
  cursor: pointer;
  margin-left: .5em;
}
.slide-nav li.current {
  background: rgb(144, 39, 39);
}

.ex2-lines {
  position: absolute;
  margin-left:-60px;
}
.ex2-path01 {
  stroke: #1ebaff;
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  transform: scale(1.0);
  opacity:0;
}
.ex2-path02-0 {
  stroke: #ff0000;
  stroke-dasharray: 90;
  stroke-dashoffset: 90;
  transform: scale(1.0);
  opacity:0;
}
.ex2-path02-1 {
  stroke: #ff0000;
  stroke-dasharray: 115;
  stroke-dashoffset: 115;
  transform: scale(1.0);
  opacity:0;
}
.ex2-path02-2 {
  stroke: #ff0000;
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  transform: scale(1.0);
  opacity:0;
}
.ex2-path02-3 {
  stroke: #ff0000;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transform: scale(1.0);
  opacity:0;
}
.ex2-path02-4 {
  stroke: #ff0000;
  stroke-dasharray: 110;
  stroke-dashoffset: 110;
  transform: scale(1.0);
  opacity:0;
}
.ex2-path03 {
  stroke: #ff4411;
  stroke-dasharray: 90;
  stroke-dashoffset: 90;
  transform: scale(1.0);
  opacity:0;
}
.ex2-path04-0 {
  stroke: #FFFF99;
  stroke-dasharray: 90;
  stroke-dashoffset: 90;
  transform: scale(1.0);
  opacity:0;
}
.ex2-path04-1 {
  stroke: #FFFF99;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transform: scale(1.0);
  opacity:0;
}
.ex2-path04-2 {
  stroke: #FFFF99;
  stroke-dasharray: 120;
  stroke-dashoffset: 120;
  transform: scale(1.0);
  opacity:0;
}
.ex2-path05 {
  stroke: #ff4422;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transform: scale(1.0);
  opacity:0;
}
.ex2-path01-animation{
  animation: exdash 6s 4s ease-out forwards;
}
.ex2-path02-animation{
  animation: exdash 8s 8s ease-out forwards;
}
.ex2-path03-animation{
  animation: exdash 6s 12s ease-out forwards;
}
.ex2-path04-animation{
  animation: exdash 8s 16s ease-out forwards;
}
.ex2-path05-animation{
  animation: exdash 6s 20s ease-out forwards;
}

.ex2-path01-dash-0 {
  stroke: #393939;
  stroke-dasharray: 1.8;
  stroke-dashoffset: -1.8;
  transform: scale(1.0);
}
.ex2-path01-dash-1 {
  stroke: #393939;
  stroke-dasharray: 2.1;
  stroke-dashoffset: 2.1;
  transform: scale(1.0);
}
.ex2-path01-dash-2 {
  stroke: #393939;
  stroke-dasharray: 2.2;
  stroke-dashoffset: 2.2;
  transform: scale(1.0);
}


.ex2-path03-dash-0 {
  stroke: #393939;
  stroke-dasharray: 2.3;
  stroke-dashoffset: 2.3;
  transform: scale(1.0);
}
.ex2-path03-dash-1 {
  stroke: #393939;
  stroke-dasharray: 2;
  stroke-dashoffset: -2;
  transform: scale(1.0);
}
.ex2-path03-dash-2 {
  stroke: #393939;
  stroke-dasharray: 2.1;
  stroke-dashoffset: -2.1;
  transform: scale(1.0);
}


.ex2-path05-dash-0 {
  stroke: #393939;
  stroke-dasharray: 2.2;
  stroke-dashoffset: -2.2;
  transform: scale(1.0);
}
.ex2-path05-dash-1 {
  stroke: #393939;
  stroke-dasharray: 2;
  stroke-dashoffset: 2;
  transform: scale(1.0);
}
.ex2-path05-dash-2 {
  stroke: #393939;
  stroke-dasharray: 1.7;
  stroke-dashoffset: -1.7;
  transform: scale(1.0);
}

/* ----------------------------------------------
 line - nodes
---------------------------------------------- */
.slide-ex{}

.ex2-node1{
  position: absolute;
  display: inline-block;
  top: 310px;
  left: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  z-index:10;
  background-color: #FF7777;
  border: 0px solid #FF0000;
  transform: scale(0.0);
}
.ex2-node1-animation {
  -webkit-animation: ex2-node1-animation 2s 4s ease-out forwards;
}
@-webkit-keyframes ex2-node1-animation {
  to {
    border-width: 4px;
    transform: scale(1.0);
  }
}
.ex2-node2{
  position: absolute;
  display: inline-block;
  top: 180px;
  left: 240px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  z-index:10;
  background-color: #002952;
  border: 0px solid #FF0000;
  transform: scale(0.0);
}
.ex2-node2-animation {
  -webkit-animation: ex2-node2-animation 1.5s 6s ease-out forwards;
}
@-webkit-keyframes ex2-node2-animation {
  to {
    border-radius: 10%;
    border-width: 2px;
    transform: scale(1.0);
  }
}
.ex2-node3{
  position: absolute;
  display: inline-block;
  top: 390px;
  left: 280px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  z-index:10;
  background-color: #FFF;
  border: 0px solid #FF0000;
  transform: scale(0.0);
}
.ex2-node3-animation {
  -webkit-animation: ex2-node3-animation 1.3s 9s ease-out forwards;
}
@-webkit-keyframes ex2-node3-animation {
  to {
    border-width: 3px;
    transform: scale(1.0);
  }
}
.ex2-node4{
  position: absolute;
  display: inline-block;
  top: 230px;
  left: 440px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  z-index:10;
  background-color: #002952;
  border: 0px solid #FF0000;
  transform: scale(0.0);
}
.ex2-node4-animation {
  -webkit-animation: ex2-node4-animation 2.2s 12s ease-out forwards;
}
@-webkit-keyframes ex2-node4-animation {
  to {
    border-radius: 10%;
    border-width: 4px;
    transform: scale(1.0);
  }
}
.ex2-node5{
  position: absolute;
  display: inline-block;
  top: 430px;
  left: 515px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index:10;
  background-color: #FF66CC;
  border: 0px solid #FF0000;
  transform: scale(0.0);
}
.ex2-node5-animation {
  -webkit-animation: ex2-node5-animation 1.1s 15s ease-out forwards;
}
@-webkit-keyframes ex2-node5-animation {
  to {
    border-width: 3px;
    transform: scale(1.0);
  }
}
.ex2-node6{
  position: absolute;
  display: inline-block;
  top: 430px;
  left: 690px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  z-index:10;
  background-color: #002952;
  border: 0px solid #FF0000;
  transform: scale(0.0);
}
.ex2-node6-animation {
  -webkit-animation: ex2-node6-animation 2.4s 18s ease-out forwards;
}
@-webkit-keyframes ex2-node6-animation {
  to {
    border-radius: 10%;
    border-width: 4px;
    transform: scale(1.0);
  }
}
.ex2-description-mask {
  position:relative;
  width: 76%;
  margin: 32px auto 1px auto;
  font-size: 16px;
  line-height : 18px;
  height: 36px;
  top: 70px;
  left: -20px;
}
.ex2-description {
  top: 320px;
  left: -50px;
  position:absolute;
  width:inherit;
  text-align: center;
  opacity:0;
}

.ex2-description-01 {
  -webkit-animation: ex2-animation 6s 4s ease-in;
}
.ex2-description-02 {
  -webkit-animation: ex2-animation 6s 10s ease-in;
}
.ex2-description-03 {
  -webkit-animation: ex2-animation 9s 16s ease-in;
}

@-webkit-keyframes ex2-animation {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ex-description-mask {
  position:relative;
  width: 76%;
  margin: 32px auto 1px auto;
  font-size: 16px;
  line-height : 18px;
  height: 36px;
  top: 70px;
  left: -20px;
}
.ex-description {
	top: 340px;
  left: -80px;
  position:absolute;
  width:inherit;
  text-align: center;
  opacity:0;
}

.ex-description-01 {
	-webkit-animation: ex-description-animation 7s 12s ease-in;
}
.ex-description-02 {
	-webkit-animation: ex-description-animation 7s 21s ease-in;
}
.ex-description-03 {
	-webkit-animation: ex-description-animation 7s 30s ease-in;
}
.ex-description-04 {
	-webkit-animation: ex-description-animation 7s 39s ease-in;
}
.ex-description-05 {
	-webkit-animation: ex-description-animation 12s 48s ease-in;
}

@keyframes ex-description-animation {
	0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ex-lines {
  position: absolute;
  margin-left:-60px;
}
.expath01 {
  stroke: #1ebaff;
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  transform: scale(1.0);
  opacity:0;
}
.expath02-0 {
  stroke: #ff0000;
  stroke-dasharray: 90;
  stroke-dashoffset: 90;
  transform: scale(1.0);
  opacity:0;
}
.expath02-1 {
  stroke: #ff0000;
  stroke-dasharray: 115;
  stroke-dashoffset: 115;
  transform: scale(1.0);
  opacity:0;
}
.expath02-2 {
  stroke: #ff0000;
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  transform: scale(1.0);
  opacity:0;
}
.expath02-3 {
  stroke: #ff0000;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transform: scale(1.0);
  opacity:0;
}
.expath02-4 {
  stroke: #ff0000;
  stroke-dasharray: 110;
  stroke-dashoffset: 110;
  transform: scale(1.0);
  opacity:0;
}
.expath03 {
  stroke: #ff4411;
  stroke-dasharray: 90;
  stroke-dashoffset: 90;
  transform: scale(1.0);
  opacity:0;
}
.expath04-0 {
  stroke: #FFFF99;
  stroke-dasharray: 90;
  stroke-dashoffset: 90;
  transform: scale(1.0);
  opacity:0;
}
.expath04-1 {
  stroke: #FFFF99;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transform: scale(1.0);
  opacity:0;
}
.expath04-2 {
  stroke: #FFFF99;
  stroke-dasharray: 120;
  stroke-dashoffset: 120;
  transform: scale(1.0);
  opacity:0;
}
.expath05 {
  stroke: #ff4422;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transform: scale(1.0);
  opacity:0;
}
.path01-animation{
  animation: exdash 6s 9s ease-out forwards;
}
.path02-animation{
  animation: exdash 8s 18s ease-out forwards;
}
.path03-animation{
  animation: exdash 6s 27s ease-out forwards;
}
.path04-animation{
  animation: exdash 8s 36s ease-out forwards;
}
.path05-animation{
  animation: exdash 6s 45s ease-out forwards;
}
@keyframes exdash {
  10% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}


.expath01-dash-0 {
  stroke: #393939;
  stroke-dasharray: 1.8;
  stroke-dashoffset: -1.8;
  transform: scale(1.0);
}
.expath01-dash-1 {
  stroke: #393939;
  stroke-dasharray: 2.1;
  stroke-dashoffset: 2.1;
  transform: scale(1.0);
}
.expath01-dash-2 {
  stroke: #393939;
  stroke-dasharray: 2.2;
  stroke-dashoffset: 2.2;
  transform: scale(1.0);
}


.expath03-dash-0 {
  stroke: #393939;
  stroke-dasharray: 2.3;
  stroke-dashoffset: 2.3;
  transform: scale(1.0);
}
.expath03-dash-1 {
  stroke: #393939;
  stroke-dasharray: 2;
  stroke-dashoffset: -2;
  transform: scale(1.0);
}
.expath03-dash-2 {
  stroke: #393939;
  stroke-dasharray: 2.1;
  stroke-dashoffset: -2.1;
  transform: scale(1.0);
}


.expath05-dash-0 {
  stroke: #393939;
  stroke-dasharray: 2.2;
  stroke-dashoffset: -2.2;
  transform: scale(1.0);
}
.expath05-dash-1 {
  stroke: #393939;
  stroke-dasharray: 2;
  stroke-dashoffset: 2;
  transform: scale(1.0);
}
.expath05-dash-2 {
  stroke: #393939;
  stroke-dasharray: 1.7;
  stroke-dashoffset: -1.7;
  transform: scale(1.0);
}




/* ----------------------------------------------
 line - nodes
---------------------------------------------- */
.slide-ex{}
.ex-node-label-0 {
  position:absolute:
  display:inline-block;
  font-size: 14px !important;
  width:150px;
  margin: 42px 0 12px -30px;
}
.ex-node-label-1 {
  position:absolute:
  display:inline-block;
  font-size: 14px !important;
  width:150px;
  margin: 28px 0 12px -30px;
}
.ex-node-label-2 {
  position:absolute:
  display:inline-block;
  font-size: 14px !important;
  width:150px;
  margin: 28px 0 12px -30px;
}
.ex-node-label-3 {
  position:absolute:
  display:inline-block;
  font-size: 14px !important;
  width:150px;
  margin: 44px 0 12px -30px;
}
.ex-node-label-4 {
  position:absolute:
  display:inline-block;
  font-size: 14px !important;
  width:150px;
  margin: 19px 0 12px -50px;
}
.ex-node-label-5 {
  position:absolute:
  display:inline-block;
  font-size: 14px !important;
  width:150px;
  margin: 60px 0 12px -30px;
}
.ex-nodes{
  position:absolute;
}
.node1{
  position: absolute;
  display: inline-block;
  top: 430px;
  left: 140px; 
  width: 44px;
  height: 44px;
  border-radius: 50%;
  z-index:10;
  background-color: #FF7777;
  border: 0px solid #FF0000;
  transform: scale(0.0);
}
.node1-animation {
  -webkit-animation: node1-animation 2s 4s ease-out forwards;
}
@-webkit-keyframes node1-animation {
  to {
    border-width: 4px;
    transform: scale(1.0);
  }
}
.node2{
  position: absolute;
  display: inline-block;
  top: 300px;
  left: 370px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  z-index:10;
  background-color: #002952;
  border: 0px solid #FF0000;
  transform: scale(0.0);
}
.node2-animation {
  -webkit-animation: node2-animation 1.5s 9s ease-out forwards;
}
@-webkit-keyframes node2-animation {
  to {
    border-radius: 10%;
    border-width: 2px;
    transform: scale(1.0);
  }
}
.node3{
  position: absolute;
  display: inline-block;
  top: 510px;
  left: 410px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  z-index:10;
  background-color: #FFF;
  border: 0px solid #FF0000;
  transform: scale(0.0);
}
.node3-animation {
  -webkit-animation: node3-animation 1.3s 18s ease-out forwards;
}
@-webkit-keyframes node3-animation {
  to {
    border-width: 3px;
    transform: scale(1.0);
  }
}
.node4{
  position: absolute;
  display: inline-block;
  top: 350px;
  left: 570px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  z-index:10;
  background-color: #002952;
  border: 0px solid #FF0000;
  transform: scale(0.0);
}
.node4-animation {
  -webkit-animation: node4-animation 2.2s 27s ease-out forwards;
}
@-webkit-keyframes node4-animation {
  to {
    border-radius: 10%;
    border-width: 4px;
    transform: scale(1.0);
  }
}
.node5{
  position: absolute;
  display: inline-block;
  top: 540px;
  left: 648px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index:10;
  background-color: #FF66CC;
  border: 0px solid #FF0000;
  transform: scale(0.0);
}
.node5-animation {
  -webkit-animation: node5-animation 1.1s 36s ease-out forwards;
}
@-webkit-keyframes node5-animation {
  to {
    border-width: 3px;
    transform: scale(1.0);
  }
}
.node6{
  position: absolute;
  display: inline-block;
  top: 550px;
  left: 835px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  z-index:10;
  background-color: #002952;
  border: 0px solid #FF0000;
  transform: scale(0.0);
}
.node6-animation {
  -webkit-animation: node6-animation 2.4s 45s ease-out forwards;
}
@-webkit-keyframes node6-animation {
  to {
    border-radius: 10%;
    border-width: 4px;
    transform: scale(1.0);
  }
}
.line-description-mask {
  position:relative;
  width: 76%;
  margin: 32px auto 10px auto;
  font-size: 20px;
  line-height : 22px;
  height: 36px;
  top: 40px;
  left: 60px;
}
.line-description {
	top: 290px;
  position:absolute;
  width:inherit;
  text-align: center;
  opacity:0;
}

.line-description-01 {
	-webkit-animation: line-description-01-animation 70s linear;
}
.line-description-02 {
	-webkit-animation: line-description-02-animation 70s linear;
}
.line-description-03 {
	-webkit-animation: line-description-03-animation 70s linear;
}
.line-description-04 {
	-webkit-animation: line-description-04-animation 70s linear;
}
.line-description-05 {
	-webkit-animation: line-description-05-animation 70s linear;
}
.line-description-06 {
	-webkit-animation: line-description-06-animation 70s linear;
}
.line-description-07 {
	-webkit-animation: line-description-07-animation 70s linear;
}
.line-description-08 {
	-webkit-animation: line-description-08-animation 70s linear;
}

@keyframes line-description-01-animation {
	4% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  13% {
    opacity: 1;
  }
  14% {
    opacity: 0;
  }
}
@keyframes line-description-02-animation {
  17% {
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
  28% {
    opacity: 1;
  }
  29% {
    opacity: 0;
  }
}
@keyframes line-description-03-animation {
  34% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  43% {
    opacity: 1;
  }
  44% {
    opacity: 0;
  }
}
@keyframes line-description-04-animation {
  44% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  54% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
}
@keyframes line-description-05-animation {
  57% {
    opacity: 0;
  }
  58% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
}
@keyframes line-description-06-animation {
  67% {
    opacity: 0;
  }
  68% {
    opacity: 1;
  }
  73% {
    opacity: 1;
  }
  74% {
    opacity: 0;
  }
}
@keyframes line-description-07-animation {
  73% {
    opacity: 0;
  }
  74% {
    opacity: 1;
  }
  79% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}
@keyframes line-description-08-animation {
  79% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  86% {
    opacity: 0;
  }
}
.line-meta-mask {
  position:relative;
  width: 76%;
  margin: 32px auto 10px auto;
  font-size: 14px;
  line-height : 16px;
  height: 36px;
  top: 40px;
  left: 60px;
}
.line-meta {
  top: 290px;
  position:absolute;
  width:inherit;
  text-align: center;
  opacity:0;
}

.line-meta-01 {
  -webkit-animation: line-meta-01-animation 70s linear;
}
.line-meta-02 {
  -webkit-animation: line-meta-02-animation 70s linear;
}
.line-meta-03 {
  -webkit-animation: line-meta-03-animation 70s linear;
}

@keyframes line-meta-01-animation {
  33% {
    opacity: 0;
  }
  34% {
    opacity: 1;
  }
  43% {
    opacity: 1;
  }
  44% {
    opacity: 0;
  }
}
@keyframes line-meta-02-animation {
  44% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
}
@keyframes line-meta-03-animation {
  76% {
    opacity: 0;
  }
  77% {
    opacity: 1;
  }
  88% {
    opacity: 1;
  }
  89% {
    opacity: 0;
  }
}

/* ----------------------------------------------
 line - nodes
---------------------------------------------- */
.slide-lines{}

.start-node-label {
  position:absolute:
  display:inline-block;
  font-size: 14px !important;
  width:150px;
  margin: 40px 0 12px -30px;
}
.end-node-label-0 {
  position:absolute:
  display:inline-block;
  font-size: 14px !important;
  width:120px;
  margin: 24px 0 12px -30px;
  -webkit-animation: label0animation 2s 37s ease-in forwards;
  opacity:1;
}
.end-node-label-1 {
  position:absolute:
  display:inline-block;
  font-size: 10px !important;
  width:120px;
  margin: -50px 0 12px -30px;
  -webkit-animation: label1animation 2s 37s ease-in forwards;
  opacity:0;
}
@-webkit-keyframes label0animation{
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes  label1animation{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.start-node{
  position: relative;
  display: inline-block;
  float:left;
  top: 175px;
  left: 200px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  z-index:10;
  background-color: #FF7777;
  border: 4px solid #FF0000;
  transform: scale(0.0);
}
@-webkit-keyframes nodestart {
  2% {
    transform: scale(1.0);
    background-color: #FF7777;
  }

  100% {
    transform: scale(1.0);
    background-color: #FF7777;
  }
}
.start-node-animation{
  -webkit-animation: nodestart 70s linear;
}
.end-node{
  position: relative;
  display: inline-block;
  float:left;
  top: 175px;
  left: 445px;
  width: 24px;
  height: 24px;
  background-color: #FFF;
  border-radius: 50%;
  z-index:10;
  border: 2px solid #FF0000;
  transform: scale(0.0);
}
.end-node-animation{
  -webkit-animation: nodeend 70s linear;
}
@-webkit-keyframes nodeend {
  2% {
    transform: scale(1.0);
    background-color: #FFF;
  }

  56% {
    background-color: #FFF;
    transform: scale(1.0);
    border-radius: 50%;
  }

  57% {
    background-color: #0066CC;
    transform: scale(1.4);
    border-radius: 10%;
  }

  100% {
    background-color: #0066CC;
    transform: scale(1.4);
    border-radius: 10%;
  }
}

.lines {
  position: relative;
  display: inline;
  float:left;
  top: 135px;
  left: 238px;
  width: 100px;
  height: 100px;
  transform: scale(4.5);
  margin: 1px;
}
.path01 {
  stroke: #393939;
  stroke-dasharray: 80;
  stroke-dashoffset: -80;
  transform: scale(1.0);
  opacity:0;
}
.path02 {
  stroke: #393939;
  stroke-dasharray: 90;
  stroke-dashoffset: -90;
  transform: scale(1.0);
  opacity:0;
}
.path03 {
  stroke: #393939;
  stroke-dasharray: 90;
  stroke-dashoffset: -90;
  transform: scale(1.0);
  opacity:0;
}
.path04 {
  stroke: #393939;
  stroke-dasharray: 100;
  stroke-dashoffset: -100;
  transform: scale(1.0);
  opacity:0;
}
.path05 {
  stroke: #393939;
  stroke-dasharray: 100;
  stroke-dashoffset: -100;
  transform: scale(1.0);
  opacity:0;
}
.path06 {
  stroke: #393939;
  stroke-dasharray: 100;
  stroke-dashoffset: -100;
  transform: scale(1.0);
  opacity:0;
}
.path-animation-first{
  animation: dash 2.5s ease-out infinite, lineanim-first 70s linear, linecolor 70s linear;
}
.path-animation-second{
  animation: dash 2.5s ease-out infinite, lineanim-second 70s linear, linecolor 70s linear;
}
.path-animation-third{
  animation: dash 2.5s ease-out infinite, lineanim-third 70s linear, linecolor 70s linear;
}
.path-animation-fourth{
  animation: dash 2.5s ease-out infinite, lineanim-fourth 70s linear, linecolor 70s linear;
}
.path-animation-fifth{
  animation: dash 2.5s ease-out infinite, lineanim-fifth 70s linear, linecolor 70s linear;
}
.path-animation-sixth{
  animation: dash 2.5s ease-out infinite, lineanim-sixth 70s linear, linecolor 70s linear;
}
.path-animation{
  animation: dash 2.5s ease-out infinite, lineanim 70s linear, linecolor 70s linear;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes lineanim-first {
  18% {
    opacity: 0;
  }
  19% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  68% {
    opacity: 0;
  }
  69% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lineanim-second {
  36% {
    opacity: 0;
  }
  37% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  76% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lineanim-third {
  37% {
    opacity: 0;
  }
  38% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  76% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lineanim-fourth {
  38% {
    opacity: 0;
  }
  39% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  76% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lineanim-fifth {
  39% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  76% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lineanim-sixth {
  40% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  76% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes linecolor {
  1% {
    stroke: #fff;
  }
  44% {
    stroke: #fff;
  }
  45% {
    stroke: #1ebaff;
  }
  47% {
    stroke: #1ebaff;
  }
  48% {
    stroke: #FFFF99;
  }
  51% {
    stroke: #FFFF99;
  }
  52% {
    stroke: #FF5050;
  }
  56% {
    stroke: #FF5050;
  }
  76% {
    stroke: #fff;
  }
  77% {
    stroke: #1ebaff;
  }
  79% {
    stroke: #1ebaff;
  }
  80% {
    stroke: #FFFF99;
  }
  81% {
    stroke: #FFFF99;
  }
  83% {
    stroke: #FF5050;
  }
  84% {
    stroke: #FF5050;
  }
  100% {
    stroke: #FF5050;
  }
}

/* ----------------------------------------------
 line - lines
---------------------------------------------- */

.dash-lines {
  position: relative;
  display: inline;
  float:left;
  top: 135px;
  left: 238px;
  width: 100px;
  height: 100px;
  transform: scale(4.5);
  opacity: 0;
  margin-left: -100px;
}
.dash-lines-animation {
  -webkit-animation: dashhide 70s linear;
}
.dash-path01 {
  stroke: #393939;
  stroke-dasharray: 3;
  stroke-dashoffset: -3;
  transform: scale(1.0);
}
.dash-path02 {
  stroke: #393939;
  stroke-dasharray: 3;
  stroke-dashoffset: -3;
  transform: scale(1.0);
}
.dash-path03 {
    stroke: #393939;
  stroke-dasharray: 3;
  stroke-dashoffset: -3;
  transform: scale(1.0);
}
.dash-path04 {
    stroke: #393939;
  stroke-dasharray: 3;
  stroke-dashoffset: -3;
  transform: scale(1.0);
}
.dash-path05 {
    stroke: #393939;
  stroke-dasharray: 4;
  stroke-dashoffset: -4;
  transform: scale(1.0);
}
.dash-path06 {
    stroke: #393939;
  stroke-dasharray: 4;
  stroke-dashoffset: -4;
  transform: scale(1.0);
}
@-webkit-keyframes dashhide {
  67% {
    opacity: 0;
  }
  68% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}




/* ----------------------------------------------
 node
---------------------------------------------- */
.slide-node{}

.node {
  position:relative;
  display:inline-block;
  left: 0%;
  width: 130px;
  height: 130px;
  background-color: #393939;
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: #393939;
  transform: scale(0.0);
  margin: 40px 0px 20px 0px;
  overflow:hidden;
}
.node-animation{
    -webkit-animation: node 90s 0s linear forwards;
}

@-webkit-keyframes node {

  2%    {
    border-radius: 50%;
    transform: scale(1.0); 
    border-color: #999999;
  }
  9%    {
    border-width: 4px;
    background-color: #393939;
    border-color: #999999;
  }
  10%   {
    border-width: 0px;
    background-color: #FF9966; /* red "Heart Failuer" */
    }
  13%   { 
    background-color: #FF9966;
  } 
  14%   { 
    background-color: #FFF; /* magenta "Infectious and Parasitic diseases" */
  }
  17%   { 
    background-color: #FFF;
  } 
  18%   { 
    background-color: #FF66CC; /* white "Disease of genitourinary system" */
  }
  21%   { 
    background-color: #FF66CC;
  }
  22%   { 
    background-color: #FF3300; /* orage "Endocrine, metabolic and immune disease" */
  }
  25%   { 
    background-color: #FF3300; 
  }
  26%   { 
    transform: scale(1.0); /* size change start */
  }
  27%   { 
    transform: scale(0.0); 
  }
  29%   { 
    transform: scale(0.0); 
  }
  32%   { 
    transform: scale(1.4);
  }
  34%   { 
    transform: scale(1.4);
  }
  35%  { 
    transform: scale(1.0); /* size change end */
  }
  37%  { 
    border-width: 0; /* border change start */
  }
  38%  {
    border-width: 8px; 
  }
  41%  {
    border-color: #999999; /* border color change start */
  }
  42%  {
    border-color: #1ebaff; /* blue */
  }
  45%  {
    border-color: #1ebaff; 
  }
  46%  {
    border-color: #FFFF99; /* yellow */
  }
  49%  {
    border-color: #FFFF99; 
  }
  50%  {
    border-color: #FF5050; /* red */ /* border end */
  }
  53%  {
    background-color: #FF3300;
    border-width: 8px;
    border-radius: 50%;
    border-color: #FF5050; /* red */
  }
  /* died node start */
  54%  {
    border-width: 0px; 
    border-radius: 5%;
    border-color: #999999;
    background-color: #0066CC; /* dark blue "DEATH" */
  }
  57%  {
    transform: scale(1.0); /* death size change start */
  }
  58%  {
    transform: scale(0.0);
  }
  59%  {
    transform: scale(0.0);
  }
  62%  {
    transform: scale(1.4);
  }
  65%  {
    transform: scale(1.4);
  }
  66%  {
    transform: scale(1.0); /* death size change end */
  }
  69%  {
    border-width: 0px;
  }
  70%  {
    border-width: 8px; /* death border change end */
  }
  71%  {
    border-color: #999999;
  }
  72%  {
    border-color: #1ebaff; /* blue */
  }
  75%  {
    border-color: #1ebaff; /* blue */
  }
  76%  {
    border-color: #FFFF99; /* yellow */
  }
  79%  {
    border-color: #FFFF99; /* yellow */
  }
  80%  {
    border-color: #FF5050; /* red */
  }
  83%  {
    border-color: #FF5050; /* red */
    background-color: #0066CC; /* dark blue "DEATH" */
    opacity: 1;
    border-radius: 5%; /* died node */
    transform: scale(1.0);
  }
  86%  {
    opacity: 0;
    background-color: #393939; /* bg - gray color */
    border-color: #999999; /* red */
  }

  100% {
    opacity: 0;
    background-color: #393939; /* bg - gray color */
    border-color: #999999; /* red */
  }
}

/*
"Diseases of Circulatory System"="#FF0000", 7

"Infectious and Parasitic Diseases"="#FF00FF", 1

"Diseases of Digestive System"="#736F6E", 9

"Neoplasms"="#151B8D", 2

"Diseases of Blood and Blood Forming Organs"="#C11B17", 4

"Diseases of Nervous System and Sense Organs"="#D4A017", 6

 "Diseases of Musculoskeletal and Connective Tissue"="#98AFC7", 13

"Congenital Anomalies"="#800080", 11?

 "Diseases of Respiratory System"="#FDD017", 8

"Diseases of Genitourinary System"="#FFFFFF", 10

"Diseases Skin and Subcutaneous Tissue"="#F9B7FF", 12

"Endocrine, Nutritional, and Metabolic Diseases and Immunity Disorders"="#F87217", 3

"Complications of Pregnancy, Childbirth, and the Puerperium"="#4AA02C",

"Mental Disorders"="#00FFFF", 5

"Newborn (Perinatal) Guidelines"="#000000"

"DEAD"="#FFFFFF", 9
*/

.node-description-mask {
  position:relative;
  width: 60%;
  margin: 0 auto;
  height: 112px;
  font-size: 22px;
  line-height : 28px;
  overflow: hidden;
   /*border: 1px solid #565656; */
}
.node-description-each {
  width: 100%;
  margin-top: 94px;
}
.node-description-slides {
  position: absolute;
  top:0px; /* -6.5 each step */
  text-align:center;
  opacity: 0;
}
.node-description-slides-animation {
  -webkit-animation: node-description-slides 90s 0s linear forwards;
}
@-webkit-keyframes node-description-slides {
/* "Round-shaped node represents a disease" */
  2%    {
    opacity: 1;
    top:-2em; /* -6.5 each step */
  }

  5%    {
    top:-2em; /* -6.5 each step */
  }

/* "Fill color of a node means group of diseases such as..." */
  6%   {
    top:-8.5em; /* -6.5 each step */
    }
  9%   { 
    top:-8.5em; /* -6.5 each step */
  } 

/* "This color means 'Disease of Circulatory Systems' " */
  10%   { 
    top:-15em; /* -6.5 each step */  
  }
  13%   { 
    top:-15em; /* -6.5 each step */ 
  } 

 /* "Infectious and parasitic diseases" */
  14%   { 
    top:-21.5em; /* -6.5 each step */ 
  }
  17%   { 
    top:-21.5em; /* -6.5 each step */ 
  }

/* "Disease of genitourinary system" */
  18%   { 
    top:-27em; /* -6.5 each step */   }
  21%   { 
    top:-27em; /* -6.5 each step */   }

/* "Endocrine, metabolic and immune disease."" */
  22%   { 
    top:-33.5em; /* -6.5 each step */   }
  24%   { 
    top:-33.5em; /* -6.5 each step */   }

/* Groups of diseases are determined by Chapters of diagnosis (eg. ICD-9 CM)*/
  25%   {
    top:-40em; /* -6.5 each step */   }
  28%   { 
    top:-40em; /* -6.5 each step */   }


  /* "Size of circle node presents incidence of disease"*/
  29%   { 
    top:-46.5em; /* -6.5 each step */   }
  35%   { 
    top:-46.5em; /* -6.5 each step */   }

   /* "Each node has distinct border color by mean age of disease patients." */
  37%  { 
    top:-53em; /* -6.5 each step */   }
  52%  {
    top:-53em; /* -6.5 each step */   }

    /* "Squared node means died outcomes for each disease"*/  
  54%  {
    top:-59.5em; /* -6.5 each step */  }
  57%  {
    top:-59.5em; /* -6.5 each step */  }

    /* "Size of death node means Case Fatality Rate (CFR)"*/
  58%  {
    top:-66em; /* -6.5 each step */  }
  70%  {
    top:-66em; /* -6.5 each step */  }

   /* "Each node has distinct border color by mean age of died patients" */
  72%  {
    top:-72.5em; /* -6.5 each step */   }
  83%  {
    transform: scale(1.0);
    opacity: 1;
    top:-72.5em; /* -6.5 each step */   }

  /* end */  
  86%  {
    transform: scale(0.0);
    opacity: 0;
    top:-80em; /* -6.5 each step */ 
  }

  100% {
    transform: scale(0.0);
    opacity: 0;
    top:-80em; /* -6.5 each step */  
  }
}
.node-meta-mask {
  position:relative;
  width: 100%;
  margin: 32px auto 10px auto;
  font-size: 16px;
  line-height : 18px;
  height: 36px;
  overflow: hidden;
}
.node-meta-data {
  position:absolute;
  width:inherit;
  text-align: center;
  opacity:0;
}
.node-meta-first-animation {
  -webkit-animation: node-meta-first  90s 0s linear forwards;
}
.node-meta-second-animation {
  -webkit-animation: node-meta-second 90s 0s linear forwards;
}
.node-meta-third-animation {
  -webkit-animation: node-meta-third  90s 0s linear forwards;
}
.node-meta-fourth-animation {
  -webkit-animation: node-meta-fourth 90s 0s linear forwards;
}
@-webkit-keyframes node-meta-first {
  28% {
    opacity:0;
  }
  29% {
    opacity:1;
  }
  34% {
    opacity:1;
  }
  35% {
    opacity:0;
  }
}
@-webkit-keyframes node-meta-second {
  40% {
    opacity:0;
  }
  41% {
    opacity:1;
  }
  52% {
    opacity:1;
  }
  53% {
    opacity:0;
  }
}
@-webkit-keyframes node-meta-third {
  58% {
    opacity:0;
  }
  59% {
    opacity:1;
  }
  65% {
    opacity:1;
  }
  66% {
    opacity:0;
  }
}
@-webkit-keyframes node-meta-fourth {
  70% {
    opacity:0;
  }
  71% {
    opacity:1;
  }
  81% {
    opacity:1;
  }
  83% {
    opacity:0;
  }
}

.node-name {
  position:absolute;
  display: block;
  text-align: center;
  top: 48px;
  left: 0px;
  width: 100%;
  font-size: 12px;
  line-height : 14px;
  color: #DDDDDD;
  opacity:0;
}
.node-name-first-animation {
  -webkit-animation: node-name-first  90s 0s linear forwards;
}
.node-name-second-animation {
  -webkit-animation: node-name-second 90s 0s linear forwards;
}
.node-name-third-animation {
  -webkit-animation: node-name-third  90s 0s linear forwards;
}
.node-name-fourth-animation {
  -webkit-animation: node-name-fourth 90s 0s linear forwards;
}
.node-name-fifth-animation {
  -webkit-animation: node-name-fifth  90s 0s linear forwards;
}
@-webkit-keyframes node-name-first {
  9% {
    opacity:0;
  }
  10% {
    opacity:1;
  }
  13% {
    opacity:1;
  }
  14% {
    opacity:0;
  }
}
@-webkit-keyframes node-name-second {
  13% {
    opacity:0;
  }
  14% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  18% {
    opacity:0;
  }
}
@-webkit-keyframes node-name-third {
  17% {
    opacity:0;
  }
  18% {
    opacity:1;
  }
  21% {
    opacity:1;
  }
  22% {
    opacity:0;
  }
}
@-webkit-keyframes node-name-fourth {
  21% {
    opacity:0;
  }
  22% {
    opacity:1;
  }
  53% {
    opacity:1;
  }
  54% {
    opacity:0;
  }
}
@-webkit-keyframes node-name-fifth {
  53% {
    opacity:0;
  }
  54% {
    opacity:1;
  }
  83% {
    opacity:1;
  }
  86% {
    opacity:0;
  }
}
.patient {
	position:absolute;
  	width: 100%;
  	font-size: 16px;
  	line-height : 18px;
  	height: 36px;
  	top: 310px;
  	left: -150px;
  	z-index: 10;
  	opacity:0;
}

.patientX-animation {
	-webkit-animation: patientX-animation 70s linear;
}

.patientY-animation {
	-webkit-animation: patientY-animation 70s linear;
}

@-webkit-keyframes patientX-animation {
	4% {
		opacity: 0;
	}
	5% {
		opacity: 1;
		left:-150px;
	}
	6% {
		opacity: 0.2;
	}
	7% {
		opacity: 1;
	}
	8% {
		opacity: 0.2;
	}
	9% {
		opacity: 1;
	}
	10% {
		opacity: 0.2;
	}
	11% {
		opacity: 1;
		left:124px;
	}
	12% {
		opacity: 1;
		left:124px;
	}
	13% {
		opacity: 0;
	}
	100% {
		left:144px;
		opacity: 0;
	}
}

@-webkit-keyframes patientY-animation {
	57% {
		opacity: 0;
	}
	58% {
		opacity: 1;
		left:-120px;
	}
	59% {
		opacity: 0.2;
	}
	60% {
		opacity: 1;
	}
	62% {
		opacity: 0.2;
	}
	63% {
		opacity: 1;
	}
	64% {
		opacity: 0.2;
	}
	65% {
		opacity: 1;
		left:144px;
	}
	66% {
		opacity: 1;
		left:144px;
	}
	67% {
		opacity: 0;
	}
	100% {
		left:144px;
		opacity: 0;
	}
}