
/* ----------------------------------------------
 global
---------------------------------------------- */
.web-bg {
    font-family: 'lato'; 
    background: #393939;
}
.data-visibility {
    display:none;
}
.data-visibility.active{
    display:block;
}
#canvasHolder {
    width: 100%;
    height: 450px;
    position: relative;
    margin: auto;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/IY9HZVvI1cMoAHxvl0w9LVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* ----------------------------------------------
 nav
---------------------------------------------- */
.navbar-noround {
    border-radius: 0%;
}
#navbarcollapse{
    font-family: 'lato'; 
}
.navbar-noround {
    border-radius: 0px;
}
.logo {
    margin-top: 4px;
    display:block;
    width: 120px;
    height: 40px;
    background-image: url("logo.png");
    background-size: 120px 88px;
    background-position: 0px 40px;
    transition: background-position 0.5s;
}
.logo:hover{
    background-position: 0 0px;
}

/* -----------------------------------------------
 data pag
----------------------------------------------- */
.data-page {
    background: #393939;
    color: #fff;
}

/* ----------------------------------------------
 intro page
---------------------------------------------- */
.intro-page {
    background-color: #F93939;
}

/* ----------------------------------------------
 slider
---------------------------------------------- */
.slide-wrap {
  margin: 5% auto 0;
  width: 70%;
}
.slide-mask {
  position: relative;
  overflow: hidden;
  height: 580px;
  width:  100%;
}
.slide-group {
  position: absolute; 
  top:  0px; 
  left: 0px;
  height: 100%;
  width: 100%;
}
.slide {
  height: 580px;
  width: 100%;
  font: 100 90px/135px "lato";
  font-size: 2em;
  color: #fff;
  text-align: center;
  list-style-type: none;
  background-color: #393939;
  display: block;
}

/* ----------------------------------------------
 slider
---------------------------------------------- */
.slide-nav {
  text-align: center;
}
.slide-nav ul {
    margin: 0 0 0 20px;
    padding: 0;
}
.slide-nav li {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: rgb(175, 56, 56);
  cursor: pointer;
  margin-left: .5em;
}
.slide-nav li.current {
  background: rgb(144, 39, 39);
}


/* ----------------------------------------------
 line - nodes
---------------------------------------------- */
.slide-lines{}

.start-node{
  position: relative;
  display: inline-block;
  float:left;
  top: 145px;
  left: 90px;
  width: 24px;
  height: 24px;
  background-color: #4AA02C;
  border-radius: 50%;
  z-index:10;
  border: 2px solid #FF5050;
  transform: scale(1.0);
}
.start-node-animation{
  -webkit-animation: nodestart 2.5s 100ms infinite ease-out;
}
.end-node{
  position: relative;
  display: inline-block;
  float:left;
  top: 145px;
  left: 340px;
  width: 24px;
  height: 24px;
  background-color: #C11B17;
  border-radius: 50%;
  z-index:10;
  border: 2px solid #ff8c19;
  transform: scale(1.0);
}
.end-node-animation{
  -webkit-animation: nodeend 2.5s 150ms infinite ease-out, deathhide 20s 100ms infinite ease-out; 
}
@-webkit-keyframes nodestart {
  0% {
    transform: scale(1.0);
    background-color: #4AA02C;
  }

  7% {
    background-color: #fff;
  }

  14% {
    transform: scale(1.4);
    background-color: #4AA02C;
  }

  21% {
    background-color: #fff;
  }

  28% {
    transform: scale(1.0);
    background-color: #4AA02C;
  }
}

@-webkit-keyframes nodeend {
  72% {
    transform: scale(1.0);
    background-color: #C11B17;
  }

  79% {
    background-color: #fff;
  }

  86% {
    transform: scale(1.4);
    background-color: #C11B17;
  }

  93% {
    background-color: #fff;
  }

  100% {
    transform: scale(1.0);
    background-color: #C11B17;
  }
}

/* ----------------------------------------------
 line - lines
---------------------------------------------- */
.lines {
  position: relative;
  display: inline;
  float:left;
  top: 105px;
  left: 138px;
  width: 100px;
  height: 100px;
  transform: scale(4.5);
}
.dash-lines {
  position: relative;
  display: inline;
  float:left;
  top: 105px;
  left: 138px;
  width: 100px;
  height: 100px;
  transform: scale(4.5);
  opacity: 0;
  margin-left: -100px;
}
.dash-lines-animation {
  animation: dashhide 30s 3s infinite;
}
.path01 {
  stroke: #393939;
  stroke-dasharray: 80;
  stroke-dashoffset: -80;
  transform: scale(1.0);
}
.path02 {
  stroke: #393939;
  stroke-dasharray: 90;
  stroke-dashoffset: -90;
  transform: scale(1.0);
}
.path03 {
  stroke: #393939;
  stroke-dasharray: 90;
  stroke-dashoffset: -90;
  transform: scale(1.0);
}
.path04 {
  stroke: #393939;
  stroke-dasharray: 100;
  stroke-dashoffset: -100;
  transform: scale(1.0);
}
.path05 {
  stroke: #393939;
  stroke-dasharray: 100;
  stroke-dashoffset: -100;
  transform: scale(1.0);
}
.path06 {
  stroke: #393939;
  stroke-dasharray: 100;
  stroke-dashoffset: -100;
  transform: scale(1.0);
}
.path-animation{
  animation: dash 2.5s 100ms ease-out infinite, strokeclr 30s 3s infinite;
}
.dash-path01 {
  stroke: #393939;
  stroke-dasharray: 3;
  stroke-dashoffset: -3;
  transform: scale(1.0);
}
.dash-path02 {
  stroke: #393939;
  stroke-dasharray: 3;
  stroke-dashoffset: -3;
  transform: scale(1.0);
}
.dash-path03 {
    stroke: #393939;
  stroke-dasharray: 3;
  stroke-dashoffset: -3;
  transform: scale(1.0);
}
.dash-path04 {
    stroke: #393939;
  stroke-dasharray: 3;
  stroke-dashoffset: -3;
  transform: scale(1.0);
}
.dash-path05 {
    stroke: #393939;
  stroke-dasharray: 4;
  stroke-dashoffset: -4;
  transform: scale(1.0);
}
.dash-path06 {
    stroke: #393939;
  stroke-dasharray: 4;
  stroke-dashoffset: -4;
  transform: scale(1.0);
}


@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes strokeclr {
  15% {
    stroke: #1ebaff;
  }
  20% {
    stroke: #FF5050;
  }
  30% {
    stroke: #FF5050;
  }
  35% {
    stroke: #ff8c19;
  }
  45% {
    stroke: #ff8c19;
  }
  50% {
    stroke: #1ebaff;
  }
  99% {
    stroke: #1ebaff;
  }
  100% {
    stroke: #393939;
  }
}

@keyframes dashhide {
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes deathhide {
  52% {
    border-radius: 50%;
  }
  57% {
    border-radius: 10%;
  }
  99% {
    border-radius: 10%;
  }
  100% {
    border-radius: 50%;
  }
}



/* ----------------------------------------------
 node
---------------------------------------------- */
.slide-node{}

.node {
  position:relative;
  display:inline-block;
  left: 0%;
  width: 130px;
  height: 130px;
  background-color: #393939;
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: #393939;
  transform: scale(0.0);
}
.node-animation{
    -webkit-animation: node 90s 0s linear forwards;
}

@-webkit-keyframes node {

  2%    {
    border-radius: 50%;
    transform: scale(1.0); 
    border-color: #999999;
  }

  9%    {
    border-width: 4px;
    background-color: #393939;
    border-color: #999999;
  }
  10%   {
    border-width: 0px;
    background-color: #FF3300; /* red "Heart Failuer" */
    }
  13%   { 
    background-color: #FF3300;
  } 
  14%   { 
    background-color: #FF66CC; /* magenta "Infectious and Parasitic diseases" */
  }
  17%   { 
    background-color: #FF66CC;
  } 
  18%   { 
    background-color: #FFF; /* white "Disease of genitourinary system" */
  }
  21%   { 
    background-color: #FFF;
  }
  22%   { 
    background-color: #FF9966; /* orage "Endocrine, metabolic and immune disease" */
  }
  25%   { 
    background-color: #FF9966; 
  }
  26%   { 
    transform: scale(1.0); /* size change start */
  }
  27%   { 
    transform: scale(1.4); 
  }
  30%   { 
    transform: scale(1.4); 
  }
  31%   { 
    transform: scale(0.75); 
  }
  34%   { 
    transform: scale(0.75);
  }
  35%  { 
    transform: scale(1.0); /* size change end */
  }
  37%  { 
    border-width: 0; /* border change start */
  }
  38%  {
    border-width: 8px; 
  }
  41%  {
    border-color: #999999; /* border color change start */
  }
  42%  {
    border-color: #1ebaff; /* blue */
  }
  45%  {
    border-color: #1ebaff; 
  }
  46%  {
    border-color: #FFFF99; /* yellow */
  }
  49%  {
    border-color: #FFFF99; 
  }
  50%  {
    border-color: #FF5050; /* red */ /* border end */
  }
  53%  {
    background-color: #FF9966; /* orage Endocrine, metabolic and immune disease */
    border-width: 8px;
    border-radius: 50%;
    border-color: #FF5050; /* red */
  }
  /* died node start */
  54%  {
    border-width: 0px; 
    border-radius: 5%;
    border-color: #999999;
    background-color: #002952; /* dark blue "DEATH" */
  }
  57%  {
    transform: scale(1.0); /* death size change start */
  }
  58%  {
    transform: scale(1.4);
  }
  62%  {
    transform: scale(1.4);
  }
  63%  {
    transform: scale(0.75);
  }
  66%  {
    transform: scale(0.75);
  }
  67%  {
    border-width: 0px;
    transform: scale(1.0); /* death size change end */
  }
  70%  {
    border-width: 8px; /* death border change end */
  }
  71%  {
    border-color: #999999;
  }
  72%  {
    border-color: #1ebaff; /* blue */
  }
  75%  {
    border-color: #1ebaff; /* blue */
  }
  76%  {
    border-color: #FFFF99; /* yellow */
  }
  79%  {
    border-color: #FFFF99; /* yellow */
  }
  80%  {
    border-color: #FF5050; /* red */
  }
  83%  {
    border-color: #FF5050; /* red */
    background-color: #002952; /* dark blue "DEATH" */
    opacity: 1;
    border-radius: 5%; /* died node */
    transform: scale(1.0);
  }
  86%  {
    opacity: 0;
    background-color: #393939; /* bg - gray color */
    border-color: #999999; /* red */
  }

  100% {
    opacity: 0;
    background-color: #393939; /* bg - gray color */
    border-color: #999999; /* red */
  }
}

/*
"Diseases of Circulatory System"="#FF0000", 7

"Infectious and Parasitic Diseases"="#FF00FF", 1

"Diseases of Digestive System"="#736F6E", 9

"Neoplasms"="#151B8D", 2

"Diseases of Blood and Blood Forming Organs"="#C11B17", 4

"Diseases of Nervous System and Sense Organs"="#D4A017", 6

 "Diseases of Musculoskeletal and Connective Tissue"="#98AFC7", 13

"Congenital Anomalies"="#800080", 11?

 "Diseases of Respiratory System"="#FDD017", 8

"Diseases of Genitourinary System"="#FFFFFF", 10

"Diseases Skin and Subcutaneous Tissue"="#F9B7FF", 12

"Endocrine, Nutritional, and Metabolic Diseases and Immunity Disorders"="#F87217", 3

"Complications of Pregnancy, Childbirth, and the Puerperium"="#4AA02C",

"Mental Disorders"="#00FFFF", 5

"Newborn (Perinatal) Guidelines"="#000000"

"DEAD"="#FFFFFF", 9
*/

.node-description-mask {
  position:relative;
  width: 60%;
  margin: 0 auto;
  height: 112px;
  font-size: 22px;
  line-height : 28px;
  overflow: hidden;
   /*border: 1px solid #565656; */
}

.node-name {
  position: absolute;
  left: 46%;
  top: 30%;
  width: 90px;
  font-size: 12px;
  line-height : 14px;
  color: #DDDDDD;
}

.node-meta-data {
  position:relative;
  width: 50%;
  margin: 0 auto;
  height: 56px;
  font-size: 16px;
  line-height : 18px;
  overflow: hidden;
  /*border: 1px solid #565656; */
}

.node-description-each {
  width: 100%;
  margin-top: 94px;
}

.node-description-slides {
  position: absolute;
  top:0px; /* -6.5 each step */
  text-align:center;
  opacity: 0;
}
.node-description-slides-animation {
  -webkit-animation: node-description-slides 90s 0s linear forwards;
}


@-webkit-keyframes node-description-slides {
/* "Round-shaped node represents a disease" */
  2%    {
    opacity: 1;
    top:-2em; /* -6.5 each step */
  }

  5%    {
    top:-2em; /* -6.5 each step */
  }

/* "Fill color of a node means group of diseases such as..." */
  6%   {
    top:-8.5em; /* -6.5 each step */
    }
  9%   { 
    top:-8.5em; /* -6.5 each step */
  } 

/* "This color means 'Disease of Circulatory Systems' " */
  10%   { 
    top:-15em; /* -6.5 each step */  
  }
  13%   { 
    top:-15em; /* -6.5 each step */ 
  } 

 /* "Infectious and parasitic diseases" */
  14%   { 
    top:-21.5em; /* -6.5 each step */ 
  }
  17%   { 
    top:-21.5em; /* -6.5 each step */ 
  }

/* "Disease of genitourinary system" */
  18%   { 
    top:-27em; /* -6.5 each step */   }
  21%   { 
    top:-27em; /* -6.5 each step */   }

/* "Endocrine, metabolic and immune disease."" */
  22%   { 
    top:-33.5em; /* -6.5 each step */   }
  25%   { 
    top:-33.5em; /* -6.5 each step */   }

  /* "Size of circle node presents incidence of disease"*/
  26%   { 
    top:-40em; /* -6.5 each step */   }
  35%   { 
    top:-40em; /* -6.5 each step */   }

   /* "Each node has distinct border color by mean age of disease patients." */
  37%  { 
    top:-46.5em; /* -6.5 each step */   }
  52%  {
    top:-46.5em; /* -6.5 each step */   }

    /* "Squared node means died outcomes for each disease"*/  
  54%  {
    top:-53em; /* -6.5 each step */   }
  57%  {
    top:-53em; /* -6.5 each step */   }

    /* "Size of death node means Case Fatality Rate (CFR)"*/
  58%  {
    top:-59.5em; /* -6.5 each step */   }
  70%  {
    top:-59.5em; /* -6.5 each step */   }

   /* "Each node has distinct border color by mean age of died patients" */
  72%  {
    top:-66em; /* -6.5 each step */   }
  83%  {
    transform: scale(1.0);
    opacity: 1;
    top:-66em; /* -6.5 each step */   }

  /* end */  
  86%  {
    transform: scale(0.0);
    opacity: 0;
    top:-80em; /* -6.5 each step */ 
  }

  100% {
    transform: scale(0.0);
    opacity: 0;
    top:-80em; /* -6.5 each step */  
  }
}
