<!doctype html>
<html class="no-js" lang="en">


  <head>
    <title>
        About Us
    </title>
   
  </head>

  <body class="page page-id-40 page-template-default" >
    <div id="wrapper" class="privacy">

  <div class="single-page">

  <div class="container content-wrapper">

<h2>What is A Blue Marble About</h2>
<p>Well.. There are lots of location based information out there. I write my story and information about how places can be described or explained with interactive map that has point to the story.</p>
</div>
</div>
</body>

</html>
