<!doctype html>
<html class="no-js" lang="en">


  <head>
    <title>
        Contact Info    
    </title>
   
  </head>

  <body class="page page-id-40 page-template-default" >
    <div id="wrapper" class="privacy">

  <div class="single-page">

  <div class="container content-wrapper">
    <div class="row">
<h2>보람과 재현의 100일 축전 </h2>
<p>여보야, 우리가 만나서 사귀기로 뭔가 정한지도 100일이라는 시간이 흘러버렸다.</p>

<p>처음에는 우리둘다 눈이 맞았다는 이유로 급 시작하게 되었지만, </p>
<p>가면 갈수록 내 여보가, 진정으로 참한 여자닝겐이라는 것을 알게되었다. </p>

<p>그런데 나는 아직 나의 나라를 갖기위해  </p>
<p>전쟁에 최전선에서 싸우고 있는 남자닝겐이라 </p>
<p>울 여보를 항상 많이 못 챙겨줘서 미안한 시츄에이션에 남겨져 있다. </p>

<p>여보가 너무 이쁘고 착한 여자고 그에 비해 난 아직,</p>
<p>어리고, 한참 내 할것을 찾고 쌓는 곳으로 다시 들어와 버려서, </p>
<p>많이 부족한 사람이 되어버린것도 잘 알고 있다.</p>
<p>여보가 항상 꾸벅꾸벅 졸고 자기 시작할때쯤에야 허그하고 </p>
<p>여보에게 뽀뽀해도 항상 여보는 잠들고 있어서</p>
<p>더욱더 내가 여보를 너무 이뻐하는것을 모르게 되는 상황도 많은거 같아.</p>

<p>여보랑 같이 있을때 그리고 여보가 내 이야기를 잘 들어줄때 항상 엄청나게 고마워</p>
<p>내 자신이 뭔가 새로운것을 만들고, 사람들이 사는 라이프스타일에 영향을</p>
<p>미치려는 일이다 보니, 더욱더 24시간 몰두하고 있지 않으면 안되는 상황이라,</p>
<p>너무 소홀하게만 한거 같구나.</p>

<p>방콕으로 출발하기 3시간 전에서야 비로소 여보랑 떨어진다는게 ‘실감’이 나서,</p>
<p>소름끼칠정도로 여보가 보고싶었어. 차를 타고 여보를 보고 갈까 생각도 했지만,</p>
<p>이미 12시가 넘은 상태고 짐정리하고, 택시부르기도 정신이 없던터라, 결국</p>
<p>여보를 한번더 보지 못하고 온것때문에 여보가 더욱 보고싶은것인지도 모르겠네.</p>

<h4>사랑해 여보</h4>
<p>가면 내가 더 계속 오래도록 잘해줄게,</p>
<p>많이 이해해주고, 내 옆에서 응원해주는 사람이라서 고마워</p>



</p>
</div>
</div>
</body>

</html>
