<div class="container data-page">
	<div class="checkbox">
    <label>
      <input type="checkbox" value="" checked>
      US Data
    </label>
  </div>
  <div class="checkbox disabled">
    <label>
      <input type="checkbox" value="" disabled>
      Korean Data
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="checkbox" id="checkbox_c_all" class="checkbox_data" value="" checked>
      All Clusters
    </label>
  </div>

  <section>
    <label>
      Clustered trajectory
    </label>
    <label>
      <input type="checkbox" id="checkbox_c0" class="checkbox_data" value="" checked>
      CL 0
      <input type="checkbox" id="checkbox_c1" class="checkbox_data" value="" checked>
      CL 1
      <input type="checkbox" id="checkbox_c2" class="checkbox_data" value="" checked>
      CL 2
      <input type="checkbox" id="checkbox_c3" class="checkbox_data" value="" checked>
      CL 3
      <input type="checkbox" id="checkbox_c4" class="checkbox_data" value="" checked>
      CL 4
      <input type="checkbox" id="checkbox_c5" class="checkbox_data" value="" checked>
      CL 5
      <input type="checkbox" id="checkbox_c6" class="checkbox_data" value="" checked>
      CL 6
      <input type="checkbox" id="checkbox_c7" class="checkbox_data" value="" checked>
      CL 7
      <input type="checkbox" id="checkbox_c8" class="checkbox_data" value="" checked>
      CL 8
      <input type="checkbox" id="checkbox_c9" class="checkbox_data" value="" checked>
      CL 9
      <input type="checkbox" id="checkbox_c10" class="checkbox_data" value="" checked>
      CL 10
      <input type="checkbox" id="checkbox_c11" class="checkbox_data" value="" checked>
      CL 11
      <input type="checkbox" id="checkbox_c12" class="checkbox_data" value="" checked>
      CL 12
      <input type="checkbox" id="checkbox_c13" class="checkbox_data" value="" checked>
      CL 13
      <input type="checkbox" id="checkbox_c14" class="checkbox_data" value="" checked>
      CL 14
      <input type="checkbox" id="checkbox_c15" class="checkbox_data" value="" checked>
      CL 15
      <input type="checkbox" id="checkbox_c16" class="checkbox_data" value="" checked>
      CL 16
      <input type="checkbox" id="checkbox_c17" class="checkbox_data" value="" checked>
      CL 17
    </label>
  </section>

  <button type="button" class="btn btn-info" id="btn-reset">Replay</button>
  <section>
    <input type="checkbox" id="checkbox_hide_nodes" class="checkbox_data" value="" checked>
    Hide Nodes
  </section>
  <section id="mean-age">
    Mean Age = {{meanAge}}
  </section>
  
</div>

