<div class="container data-page" id='options-clusters'>
	<div class="checkbox">
    <label>
      <input type="checkbox" value="" checked>
      US Data
    </label>
  </div>
  <div class="checkbox disabled">
    <label>
      <input type="checkbox" value="" disabled>
      Korean Data
    </label>
  </div>

  <select id="clusterid" class="form-control">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
    <option>11</option>
    <option>12</option>
    <option>13</option>
    <option>14</option>
    <option>15</option>
    <option>16</option>
    <option>Not Clustered</option>
    <option>All</option>
  </select>

  <button type="button" class="btn btn-info" id="btn-reset-clusters">Replay</button>

  <div>
    <img class="guide-img" ng-src="guide.png" width="614" height="219">
  </div>
  <!--
  <section>
    <input type="checkbox" id="checkbox-hide-nodes-clusters" class="checkbox_data" value="" checked>
    Hide Nodes
  </section>
  -->
  <section id="mean-age-clusters">
    Mean Age = {{meanAge.value}}
  </section>
  
</div>

