<div class="slide-wrap">

  <!-- 
  <div class="slide-mask">
    <ul class="slide-group">

      <li class="slide">
        <header>Network Example</header>
        <div class="ex2-node1 ex2-node1-animation"></div>
        <div class="ex2-node2 ex2-node2-animation"></div>
         <div class="ex2-node3 ex2-node3-animation"></div>
          <div class="ex2-node4 ex2-node4-animation"></div>
          <div class="ex2-node5 ex2-node5-animation"></div>
          <div class="ex2-node6 ex2-node6-animation"></div>
          <section class='ex-lines'>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="800px"
               height="800px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
            <g id="event01">
              <path class="ex2-path01 ex2-path01-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M6.917,36.861c0,0,2.917-26.111,26.945-17.778"
                />
              <path class="ex2-path01 ex2-path01-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M6.978,36.861c0,0-0.062-28.889,26.945-17.778"
                />
              <path class="ex2-path01 ex2-path01-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M6.917,36.861c0,0,0.833-27.111,26.945-17.778"
                />

                <path class="ex2-path01-dash-1" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M6.917,36.861c0,0,2.917-26.111,26.945-17.778"
                />
              <path class="ex2-path01-dash-0" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M6.978,36.861c0,0-0.062-28.889,26.945-17.778"
                />
              <path class="ex2-path01-dash-2" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M6.917,36.861c0,0,0.833-27.111,26.945-17.778"
                />
            </g>
            <g id="event03">
              <path class="ex2-path03 ex2-path03-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M38.725,44.625
                c0.402-2.967,7.451-26.78,22.214-17.343"/>
              <path class="ex2-path03 ex2-path03-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M38.725,44.625
                c0.368-3.773,6.846-30.306,22.214-17.343"/>
              <path class="ex2-path03 pex2-ath03-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M38.962,44.853
                c0.294-3.427,6.409-29.028,22.215-17.343"/>
              <path class="ex2-path03 ex2-path03-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M38.86,45.537
                c0.325-4.076,6.32-32.635,22.079-18.255"/>

                   <path class="ex2-path03-dash-0" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M38.725,44.625
                c0.402-2.967,7.451-26.78,22.214-17.343"/>
              <path class="ex2-path03-dash-1" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M38.725,44.625
                c0.368-3.773,6.846-30.306,22.214-17.343"/>
              <path class="ex2-path03-dash-2" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M38.962,44.853
                c0.294-3.427,6.409-29.028,22.215-17.343"/>
              <path class="ex2-path03-dash-1" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M38.86,45.537
                c0.325-4.076,6.32-32.635,22.079-18.255"/>
            </g>
            <g id="event02">
              <path class="ex2-path02-0 ex2-path02-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M6.855,37.809
                c-1.3,0.99,21.468-4.408,32.005,8.33"/>
              <path class="ex2-path02-1 ex2-path02-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M6.855,37.206
                c0.666-0.618,23.264-6.279,32.005,8.331"/>
              <path class="ex2-path02-2 ex2-path02-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M6.855,37.262
                c2.115-2.168,25.303-9.43,32.005,8.331"/>
              <path class="expath02-3 path02-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M6.855,37.262
                c3.151-3.493,27.01-14.557,32.005,8.331"/>
              <path class="ex2-path02-4 ex2-path02-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M6.855,37.808
                C9.59,34.705,33.51,24.155,38.86,46.139"/>
              <path class="ex2-path02-0 ex2-path02-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M6.855,37.262
                c3.485-4.004,27.595-16.501,32.005,8.331"/>
              <path class="ex2-path02-3 ex2-path02-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M6.72,37.808
                c0.666-0.618,22.489-5.26,32.005,8.331"/>
              <path class="ex2-path02-2 ex2-path02-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M6.72,37.262
                C8.835,35.094,32.25,26,38.725,45.593"/>
              <path class="ex2-path02-1 ex2-path02-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M6.855,37.77
                c2.115-2.168,25.303-9.43,32.005,8.331"/>
            </g>
            <g id="event04">
              <path class="ex2-path04-0 ex2-path04-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M38.84,45.885
                c0.673-1.651,18.535-11.483,29.604,3.849"/>
              <path class="ex2-path04-1 ex2-path04-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M38.84,45.885
                c0.852-2.339,19.371-8.206,29.604,3.849"/>
              <path class="ex2-path04-2 ex2-path04-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M38.996,46.414
                c0.883-2.513,18.379-14.905,29.603,3.852"/>
              <path class="ex2-path04-0 ex2-path04-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M38.84,45.885
                c0.986-2.861,19.285-11.936,29.604,3.849"/>
              <path class="ex2-path04-1 ex2-path04-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M38.995,45.885
                c0.852-2.339,19.505-9.336,29.604,3.849"/>
            </g>
            <g id="event05">
              <path class="ex2-path05 ex2-path05-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M68.443,49.94
                c1.43-3.51,14.243-17.342,26.182,2.06"/>
              <path class="ex2-path05 ex2-path05-animation" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M68.443,49.94
                c1.676-4.604,14.799-11.35,26.182,2.06"/>
              <path class="ex2-path05 ex2-path05-animation" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M68.6,50.469
                c1.482-4.219,14.025-16.521,26.181,2.063"/>
              <path class="ex2-path05 ex2-path05-animation" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M68.443,49.94
                C70.182,44.897,84.25,37.493,94.625,52"/>

              <path class="ex2-path05-dash-0" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M68.443,49.94
                c1.43-3.51,14.243-17.342,26.182,2.06"/>
              <path class="ex2-path05-dash-1" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M68.443,49.94
                c1.676-4.604,14.799-11.35,26.182,2.06"/>
              <path class="ex2-path05-dash-2" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M68.6,50.469
                c1.482-4.219,14.025-16.521,26.181,2.063"/>
              <path class="ex2-path05-dash-0" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M68.443,49.94
                C70.182,44.897,84.25,37.493,94.625,52"/>
            </g>
            </svg>
          </section>
          <section class="ex2-description-mask">
            <div class="ex2-description ex2-description-01">"Now, you see the trajectory of death from Heart failure (no of patient 80,032)"</div>
            <div class="ex2-description ex2-description-02"> "Time interval between two diseases < 1 year"</div>
            <div class="ex2-description ex2-description-03">  "And, the trajectory end with Septicemia consisting 3 diseases covering up to 3 years of illness before they died"
</div>
          </section>
      </li> 
  -->
    <!--
      <li class="slide">
        <header>Trajectory Example</header>
          <section class="ex_nodes">
              <div class="node1 node1-animation">
                <div class="ex-node-label-0"> Heart Failure </div>
              </div>
              <div class="node2 node2-animation">
                <div class="ex-node-label-1"> Heart Failure died</div>
              </div>
              <div class="node3 node3-animation">
               <div class="ex-node-label-2"> Accute Kidney Failure </div>
              </div>
              <div class="node4 node4-animation">
                <div class="ex-node-label-3"> Accute Kidney Failure died </div>
              </div>
              <div class="node5 node5-animation">
                <div class="ex-node-label-4"> Septicemia </div>
              </div>
              <div class="node6 node6-animation">
                <div class="ex-node-label-5"> Septicemia died </div>
              </div>
          </section>
          <section class='ex-lines'>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="800px"
               height="800px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
            <g id="event01">
              <path class="expath01 path01-animation" fill="none" stroke="#000000" stroke-width="0.275" stroke-miterlimit="10" d="M6.917,36.861c0,0,2.917-26.111,26.945-17.778"
                />
              <path class="expath01 path01-animation" fill="none" stroke="#000000" stroke-width="0.275" stroke-miterlimit="10" d="M6.978,36.861c0,0-0.062-28.889,26.945-17.778"
                />
              <path class="expath01 path01-animation" fill="none" stroke="#000000" stroke-width="0.275" stroke-miterlimit="10" d="M6.917,36.861c0,0,0.833-27.111,26.945-17.778"
                />

                <path class="expath01-dash-1" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M6.917,36.861c0,0,2.917-26.111,26.945-17.778"
                />
              <path class="expath01-dash-0" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M6.978,36.861c0,0-0.062-28.889,26.945-17.778"
                />
              <path class="expath01-dash-2" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M6.917,36.861c0,0,0.833-27.111,26.945-17.778"
                />
            </g>
            <g id="event03">
              <path class="expath03 path03-animation" fill="none" stroke="#000000" stroke-width="0.275" stroke-miterlimit="10" d="M38.725,44.625
                c0.402-2.967,7.451-26.78,22.214-17.343"/>
              <path class="expath03 path03-animation" fill="none" stroke="#000000" stroke-width="0.275" stroke-miterlimit="10" d="M38.725,44.625
                c0.368-3.773,6.846-30.306,22.214-17.343"/>
              <path class="expath03 path03-animation" fill="none" stroke="#000000" stroke-width="0.275" stroke-miterlimit="10" d="M38.962,44.853
                c0.294-3.427,6.409-29.028,22.215-17.343"/>
              <path class="expath03 path03-animation" fill="none" stroke="#000000" stroke-width="0.275" stroke-miterlimit="10" d="M38.86,45.537
                c0.325-4.076,6.32-32.635,22.079-18.255"/>

              <path class="expath03-dash-0" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M38.725,44.625
                c0.402-2.967,7.451-26.78,22.214-17.343"/>
              <path class="expath03-dash-1" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M38.725,44.625
                c0.368-3.773,6.846-30.306,22.214-17.343"/>
              <path class="expath03-dash-2" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M38.962,44.853
                c0.294-3.427,6.409-29.028,22.215-17.343"/>
              <path class="expath03-dash-1" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M38.86,45.537
                c0.325-4.076,6.32-32.635,22.079-18.255"/>
            </g>
            <g id="event02">
              <path class="expath02-0 path02-animation" fill="none" stroke="#000000" stroke-width="0.145" stroke-miterlimit="10" d="M6.855,37.809
                c-1.3,0.99,21.468-4.408,32.005,8.33"/>
              <path class="expath02-1 path02-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M6.855,37.206
                c0.666-0.618,23.264-6.279,32.005,8.331"/>
              <path class="expath02-2 path02-animation" fill="none" stroke="#000000" stroke-width="0.155" stroke-miterlimit="10" d="M6.855,37.262
                c2.115-2.168,25.303-9.43,32.005,8.331"/>
              <path class="expath02-3 path02-animation" fill="none" stroke="#000000" stroke-width="0.135" stroke-miterlimit="10" d="M6.855,37.262
                c3.151-3.493,27.01-14.557,32.005,8.331"/>
              <path class="expath02-4 path02-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M6.855,37.808
                C9.59,34.705,33.51,24.155,38.86,46.139"/>
              <path class="expath02-0 path02-animation" fill="none" stroke="#000000" stroke-width="0.155" stroke-miterlimit="10" d="M6.855,37.262
                c3.485-4.004,27.595-16.501,32.005,8.331"/>
              <path class="expath02-3 path02-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M6.72,37.808
                c0.666-0.618,22.489-5.26,32.005,8.331"/>
              <path class="expath02-2 path02-animation" fill="none" stroke="#000000" stroke-width="0.165" stroke-miterlimit="10" d="M6.72,37.262
                C8.835,35.094,32.25,26,38.725,45.593"/>
              <path class="expath02-1 path02-animation" fill="none" stroke="#000000" stroke-width="0.135" stroke-miterlimit="10" d="M6.855,37.77
                c2.115-2.168,25.303-9.43,32.005,8.331"/>
            </g>
            <g id="event04">
              <path class="expath04-0 path04-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M38.84,45.885
                c0.673-1.651,18.535-11.483,29.604,3.849"/>
              <path class="expath04-1 path04-animation" fill="none" stroke="#000000" stroke-width="0.135" stroke-miterlimit="10" d="M38.84,45.885
                c0.852-2.339,19.371-8.206,29.604,3.849"/>
              <path class="expath04-2 path04-animation" fill="none" stroke="#000000" stroke-width="0.145" stroke-miterlimit="10" d="M38.996,46.414
                c0.883-2.513,18.379-14.905,29.603,3.852"/>
              <path class="expath04-0 path04-animation" fill="none" stroke="#000000" stroke-width="0.135" stroke-miterlimit="10" d="M38.84,45.885
                c0.986-2.861,19.285-11.936,29.604,3.849"/>
              <path class="expath04-1 path04-animation" fill="none" stroke="#000000" stroke-width="0.125" stroke-miterlimit="10" d="M38.995,45.885
                c0.852-2.339,19.505-9.336,29.604,3.849"/>
            </g>
            <g id="event05">
              <path class="expath05 path05-animation" fill="none" stroke="#000000" stroke-width="0.255" stroke-miterlimit="10" d="M68.443,49.94
                c1.43-3.51,14.243-17.342,26.182,2.06"/>
              <path class="expath05 path05-animation" fill="none" stroke="#000000" stroke-width="0.255" stroke-miterlimit="10" d="M68.443,49.94
                c1.676-4.604,14.799-11.35,26.182,2.06"/>
              <path class="expath05 path05-animation" fill="none" stroke="#000000" stroke-width="0.255" stroke-miterlimit="10" d="M68.6,50.469
                c1.482-4.219,14.025-16.521,26.181,2.063"/>
              <path class="expath05 path05-animation" fill="none" stroke="#000000" stroke-width="0.255" stroke-miterlimit="10" d="M68.443,49.94
                C70.182,44.897,84.25,37.493,94.625,52"/>

              <path class="expath05-dash-0" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M68.443,49.94
                c1.43-3.51,14.243-17.342,26.182,2.06"/>
              <path class="expath05-dash-1" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M68.443,49.94
                c1.676-4.604,14.799-11.35,26.182,2.06"/>
              <path class="expath05-dash-2" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M68.6,50.469
                c1.482-4.219,14.025-16.521,26.181,2.063"/>
              <path class="expath05-dash-0" fill="none" stroke="#000000" stroke-width="0.325" stroke-miterlimit="10" d="M68.443,49.94
                C70.182,44.897,84.25,37.493,94.625,52"/>
            </g>
            </svg>
          </section>
          <section class="ex-description-mask">
            <div class="ex-description ex-description-01">"Someone died with heart failure (no of death= 423)"</div>
            <div class="ex-description ex-description-02">"Out of survived patient, over 41K patients are diagnosed Acute kidney failure within 1 year"</div>
            <div class="ex-description ex-description-03"> "Out of 41K Acute kidney failure, 643 patient died"
</div>
            <div class="ex-description ex-description-04">"Out of survived from two previous disease, 491 of patients were suffered by Septicemia within 1 year"
  </div>
            <div class="ex-description ex-description-05">"Out of survived from three previous disease, 253 of patients were died"</div>
          </section>
      </li> 
      -->

      <!--            
      <li class="slide">
        <header>Concept of Line between Nodes (Edge)</header>
        <div class="slide-lines">
          <div class="start-node start-node-animation">
            <div class="start-node-label">Heart Failure</div>
          </div>
          <div class="end-node end-node-animation">
            <div class="end-node-label-0">Acute Kidney failure</div>
            <div class="end-node-label-1">Heart Failure died</div>
          </div>
          
          <div class="patient patientX-animation">Patient X</div>
          <div class="patient patientY-animation">Patient Y</div>

          <section class="lines">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">

              <path class="path01 path-animation-first" fill="none" stroke="#000000" stroke-width="0.3" stroke-miterlimit="10" d="M81.999,50C50,19.207,20.833,50,20.833,50"/>

              <path class="path02 path-animation-second" fill="none" stroke="#000000" stroke-width="0.3" stroke-miterlimit="10" d="M81.999,50C50-8.16,20.833,50,20.833,50"/>

              <path class="path03 path-animation-third" fill="none" stroke="#000000" stroke-width="0.3" stroke-miterlimit="10" d="M81.999,50C50,6.105,20.833,50,20.833,50"/>

              <path class="path04 path-animation-fourth" fill="none" stroke="#000000" stroke-width="0.3" stroke-miterlimit="10" d="M81.999,50C50-17.147,20.833,50,20.833,50"/>

              <path class="path05 path-animation-fifth" fill="none" stroke="#000000" stroke-width="0.3" stroke-miterlimit="10" d="M81.999,50.826c-31.999-65.27-61.166,0-61.166,0"/>

              <path class="path06 path-animation-sixth" fill="none" stroke="#000000" stroke-width="0.3" stroke-miterlimit="10" d="M82,50.586c-31.999-53.852-61.167,0-61.167,0"/>
            </svg>
          </section>
          <section class="dash-lines dash-lines-animation">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">

              <path class="dash-path01" fill="none" stroke="#000000" stroke-width="0.8" stroke-miterlimit="10" d="M81.999,50C50,19.207,20.833,50,20.833,50"/>

              <path class="dash-path02" fill="none" stroke="#000000" stroke-width="0.8" stroke-miterlimit="10" d="M81.999,50C50-8.16,20.833,50,20.833,50"/>

              <path class="dash-path03" fill="none" stroke="#000000" stroke-width="0.8" stroke-miterlimit="10" d="M81.999,50C50,6.105,20.833,50,20.833,50"/>

              <path class="dash-path04" fill="none" stroke="#000000" stroke-width="0.8" stroke-miterlimit="10" d="M81.999,50C50-17.147,20.833,50,20.833,50"/>

              <path class="dash-path05" fill="none" stroke="#000000" stroke-width="0.8" stroke-miterlimit="10" d="M81.999,50.826c-31.999-65.27-61.166,0-61.166,0"/>

              <path class="dash-path06" fill="none" stroke="#000000" stroke-width="0.8" stroke-miterlimit="10" d="M82,50.586c-31.999-53.852-61.167,0-61.167,0"/>
            </svg>
          </section>

          <section class="line-meta-mask" ng-controller='NumberCtrl'>
            <div class="line-meta line-meta-01">
            <span>Shared patient = <span>
            <span data-num='4109' 
              time-duration='3500' 
              time-delay='23200'
              format-info='4' 
              class="a"></span>
            </div>
            <div class="line-meta line-meta-02">
            <span>Mean age of shared patient = <span>
            <span data-num='7531' 
              time-duration='5000' 
              time-delay='30800' 
              class="a"></span>
            </div>
            <div class="line-meta line-meta-03">
            <span>Mean age of died patient = <span>
            <span data-num='7684' 
              time-duration='4500' 
              time-delay='59200' 
              class="a"></span>
            </div>
          </section>

          <section class="line-description-mask">
            <div class="line-description line-description-01">"A patient X was diagnosed as heart failure and suffered by kidney failure within one-year"</div>
            <div class="line-description line-description-02">"We represented it as an edge line between disease pair"</div>
            <div class="line-description line-description-03">"By number for shared patient between nodes, number of edge lines will be increased"</div>
            <div class="line-description line-description-04">"Color of edge denotes mean age of shared patient"
  </div>
            <div class="line-description line-description-05">"Patient Y died with Heart failure"</div>
            <div class="line-description line-description-06">"Dashed line means a died outcome with a line linked disease" </div>
            <div class="line-description line-description-07">"Number of dashed line by number of death"</div>
            <div class="line-description line-description-08">"2659 people died with heart failure"
  </div>
          </section>
        </div>
      </li> 
      -->
      
      <!--
      <li class="slide">
        <header>Concept of Node</header>
        <div class="slide-node">
          <section>
            <div class="node node-animation"> 
              <div class="node-name node-name-first-animation">Diabetes</div>
              <div class="node-name node-name-second-animation">Acute kidney failure</div>
              <div class="node-name node-name-third-animation">Septicemia</div>
              <div class="node-name node-name-fourth-animation">Heart failure</div>
              <div class="node-name node-name-fifth-animation">Heart failure died</div>
            </div>
          </section>

          <section class="node-meta-mask" ng-controller="NumberCtrl">
            <div class="node-meta-data node-meta-first-animation">
              <span>Incidence = 0.0<span>
              <span data-num='47' 
              time-duration='2299' 
              time-delay='26099' 
              class="a"></span>
            </div>
            <div class="node-meta-data node-meta-second-animation">
              Mean age of patient =
              <span data-num='7347' 
              time-duration='7400' 
              time-delay='36900' 
              class="a"></span>
            </div>
            <div class="node-meta-data node-meta-third-animation">
              <span>CFR = 0.<span>
              <span data-num='157' 
              time-duration='2299' 
              time-delay='53099' 
              format-info='3'
              class="a"></span>
            </div>
            <div class="node-meta-data node-meta-fourth-animation">
              Mean age of death =
              <span data-num='7849' 
              time-duration='7400' 
              time-delay='63900' 
              class="a"></span>
            </div>
          </section>

          <section class="node-description-mask">
            <div class="node-description-slides node-description-slides-animation">
              <div class="node-description-each">"Round-shaped node represents a disease"</div>
              <div class="node-description-each"> "Fill color of a node means group of diseases such as..."</div>
              <div class="node-description-each">"This color means 'Endocrine, metabolic and immune disease'"  </div>
              <div class="node-description-each"> "Disease of genitourinary system" </div>
              <div class="node-description-each"> "Infectious and parasitic diseases"</div>
              <div class="node-description-each">  "'Disease of Circulatory Systems" </div> 
              <div class="node-description-each">  "Groups of diseases are determined by Chapters of diagnosis (eg. ICD-9 CM)" </div> 
              <div class="node-description-each">"Size of circle node presents incidence of disease"</div>
              <div class="node-description-each">"Each node has distinct border color by mean age of disease patients."</div>
              <div class="node-description-each">"Squared node means died outcomes for each disease"
              </div>
              <div class="node-description-each"> "Size of death node means Case Fatality Rate (CFR)"
              </div>
              <div class="node-description-each">"Each node has distinct border color by mean age of died patients"
              </div>
            </div>
          </section>
        </div>
      </li> 
      -->
    </ul>
  </div>

  <!-- slide navigation -->
  <div class="slide-nav">
    <ul>
      <li class="bullet"></li>
      <li class="bullet"></li>
      <li class="bullet"></li>
    </ul>
  </div>

</div>


