<div class="slide-wrap">

  <!-- slide content -->
  <div class="slide-mask">
    <ul class="slide-group">

      <!-- node slide -->
      <li class="slide">
        <header>Concept of Node</header>
        <div class="slide-node">
          <section>
            <div class="node node-animation"> 
            </div>
            <div class="node-name">Acute kidney failure</div>
            
          </section>

          <section>
            <div class="node-meta-data">mean age of patient =xxx</div>
          </section>

          <section class="node-description-mask">
            <div class="node-description-slides node-description-slides-animation">
              <div class="node-description-each">"Round-shaped node represents a disease"</div>
              <div class="node-description-each"> "Fill color of a node means group of diseases such as..."</div>
              <div class="node-description-each">"This color means 'Disease of Circulatory Systems' "  </div>
              <div class="node-description-each"> "Infectious and parasitic diseases" </div>
              <div class="node-description-each">  "Disease of genitourinary system"</div>
              <div class="node-description-each">  "Endocrine, metabolic and immune disease" </div> 
              <!-- Groups of diseases are determined by Chapters of diagnosis (eg. ICD-9 CM)" -->
              <div class="node-description-each">"Size of circle node presents incidence of disease"</div>
              <div class="node-description-each">"Each node has distinct border color by mean age of disease patients."</div>
              <div class="node-description-each">"Squared node means died outcomes for each disease"
              </div>
              <div class="node-description-each"> "Size of death node means Case Fatality Rate (CFR)"
              </div>
              <div class="node-description-each">"Each node has distinct border color by mean age of died patients"
              </div>
            </div>
          </section>
        </div>
      </li> 

      <!-- lines slide -->
      <li class="slide">
        <header>Line</header>
        <div class="slide-lines">
          <div class="start-node start-node-animation"></div>
          <div class="end-node end-node-animation"></div>
          <section class="lines">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">

              <path class="path01 path-animation" fill="none" stroke="#000000" stroke-width="0.3" stroke-miterlimit="10" d="M81.999,50C50,19.207,20.833,50,20.833,50"/>

              <path class="path02 path-animation" fill="none" stroke="#000000" stroke-width="0.3" stroke-miterlimit="10" d="M81.999,50C50-8.16,20.833,50,20.833,50"/>

              <path class="path03 path-animation" fill="none" stroke="#000000" stroke-width="0.3" stroke-miterlimit="10" d="M81.999,50C50,6.105,20.833,50,20.833,50"/>

              <path class="path04 path-animation" fill="none" stroke="#000000" stroke-width="0.3" stroke-miterlimit="10" d="M81.999,50C50-17.147,20.833,50,20.833,50"/>

              <path class="path05 path-animation" fill="none" stroke="#000000" stroke-width="0.3" stroke-miterlimit="10" d="M81.999,50.826c-31.999-65.27-61.166,0-61.166,0"/>

              <path class="path06 path-animation" fill="none" stroke="#000000" stroke-width="0.3" stroke-miterlimit="10" d="M82,50.586c-31.999-53.852-61.167,0-61.167,0"/>
            </svg>
          </section>
          <section class="dash-lines dash-lines-animation">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">

              <path class="dash-path01" fill="none" stroke="#000000" stroke-width="0.8" stroke-miterlimit="10" d="M81.999,50C50,19.207,20.833,50,20.833,50"/>

              <path class="dash-path02" fill="none" stroke="#000000" stroke-width="0.8" stroke-miterlimit="10" d="M81.999,50C50-8.16,20.833,50,20.833,50"/>

              <path class="dash-path03" fill="none" stroke="#000000" stroke-width="0.8" stroke-miterlimit="10" d="M81.999,50C50,6.105,20.833,50,20.833,50"/>

              <path class="dash-path04" fill="none" stroke="#000000" stroke-width="0.8" stroke-miterlimit="10" d="M81.999,50C50-17.147,20.833,50,20.833,50"/>

              <path class="dash-path05" fill="none" stroke="#000000" stroke-width="0.8" stroke-miterlimit="10" d="M81.999,50.826c-31.999-65.27-61.166,0-61.166,0"/>

              <path class="dash-path06" fill="none" stroke="#000000" stroke-width="0.8" stroke-miterlimit="10" d="M82,50.586c-31.999-53.852-61.167,0-61.167,0"/>
            </svg>
          </section>
        </div>
      </li> 
    </ul>
  </div>

  <!-- slide navigation -->
  <div class="slide-nav">
    <ul>
      <li class="bullet"></li>
      <li class="bullet"></li>
    </ul>
  </div>

</div>


