<div class="container data-page" id='options-mergepaths'>
	<div class="checkbox">
    <label>
      <input type="checkbox" value="" checked>
      US Data
    </label>
  </div>
  <div class="checkbox disabled">
    <label>
      <input type="checkbox" value="" disabled>
      Korean Data
    </label>
  </div>
  <div class="radio">
    <label>
    Mergepaths
      <input type="text" id="textinfo-mergepathids" placeholder="Initial disease name here.">
      <button type="button" class="btn btn-calm" id="btn-run-mergepaths">Run</button>
    </label>
  </div>

  <div>
    <button type="button" class="btn btn-info" id="btn-reset-mergepaths">Replay</button>
  </div>
  <div>
    <img class="guide-img" ng-src="guide.png" width="614" height="219">
  </div>
  <!--
  <section>
    <input type="checkbox" id="checkbox-hide-nodes-mergepaths" class="checkbox_data" value="" checked>
    Hide Nodes
  </section>
  <section>
    <input type="checkbox" id="checkbox-hide-names-mergepaths" class="checkbox_data" value="" checked>
    Hide Name Tags
  </section>
  -->
  <section id="mergepathids-display">
    {{mergePathIds.value}}
  </section>

  
</div>

