<!doctype html>
<html class="no-js" lang="en">


  <head>
    <title>
        Privacy    
    </title>
   
  </head>


  <body class="page page-id-40 page-template-default" >
    <div id="wrapper" class="privacy">

  <div class="single-page">

	<div class="container content-wrapper">
		<div class="row">
			<h1>Privacy</h1>
		</div>
		<h6>EFFECTIVE DATE: May 30, 2015</h6>
<h1>A Bluemarble Traveler Privacy Policy</h1>
<p><strong>On May 28, 2015, we published a revised version of our Privacy Policy. Your continued use of A Bluemarble Traveler means you agree to this revised document, so please take a few minutes to read and understand it.</strong></p>
<p>The A Bluemarble Traveler mobile website, as well as the A Bluemarble Traveler website located at www.abluemarble.com (the &#8220;Site&#8221;) In this Privacy Policy (&#8220;Policy&#8221;), we describe how we collect, use, and disclose information that we obtain from travel of our Services, which are available via travels </p>

<p><strong>Geolocation Data.</strong> We ask you to share your location information from your mobile device or desktop. If you choose not to, the Services will not fully functional. Location information is used to place you in our information A Bluemarble Traveler group, to place you in your home A Bluemarble Traveler group, and as explained below. </p>


<h2>Contact Info</h2>
<p>If you have questions about the privacy aspects of our Services or would like to make a complaint, please contact us at fkkcloud@gmail.com.</p>

<h2>The DoubleClick cookie</h2>
<p> The DoubleClick cookie is used by Google in the ads served on the websites of its partners, such as websites displaying AdSense ads or participating in Google certified ad networks. When users visit a partner's website and either view or click on an ad, a cookie may be dropped on that end user's browser. </p>

<h2>Third Party Vendors</h2>
<p>Third party vendors, including Google, use cookies to serve ads based on a user's prior visits to your website.
Google's use of the DoubleClick cookie enables it and its partners to serve ads to your users based on their visit to your sites and/or other sites on the Internet.
Users may opt out of the use of the DoubleClick cookie for interest-based advertising by visiting Ads Settings. (Alternatively, you can direct users to opt out of a third-party vendor's use of cookies for interest based advertising by visiting aboutads.info.)
If you have not opted out of third-party ad serving, the cookies of other third-party vendors or ad networks may also be used to serve ads on your site, and should be disclosed in your privacy policy as well in the following manner.</p>


</html>
