<!doctype html>
<html class="no-js" lang="en">


  <head>
    <title>
        Privacy    
    </title>
   
  </head>


  <body class="page page-id-40 page-template-default" >
    <div id="wrapper" class="privacy">

  <div class="single-page">

	<div class="container content-wrapper">
		<div class="row">
			<h1>Privacy Policy</h1>
		</div>
		<h6>EFFECTIVE DATE: May 30, 2015</h6>
<h1>A Bluemarble Traveler Privacy Policy</h1>
<p><strong>On May 28, 2015, we published a revised version of our Privacy Policy. Your continued use of A Bluemarble Traveler means you agree to this revised document, so please take a few minutes to read and understand it.</strong></p>
<p>The A Bluemarble Traveler mobile website, as well as the A Bluemarble Traveler website located at www.abluemarble.com (the &#8220;Site&#8221;). We do not share personal information with third-parties nor do we store information we collect about your visit to this blog for use other than to analyze content performance through the use of cookies, which you can turn off at anytime by modifying your Internet browser's settings.

Cut down a bit of stomach fat every day by using this 1 weird old tip.
We are not responsible for the republishing of the content found on this blog on other Web sites or media without our permission. This privacy policy is subject to change without notice. In this Privacy Policy (&#8220;Policy&#8221;), we describe how I collect, use, and disclose information that we obtain from travel of our Services, which are available via travels </p>

<p><strong>Geolocation Data.</strong> We ask you to share your location information from your mobile device or desktop. If you choose not to, the Services will not fully functional. Location information is used to place you in our information A Bluemarble Traveler group, to place you in your home A Bluemarble Traveler group, and as explained below. </p>


<h2>Contact Info</h2>
<p>If you have questions about the privacy aspects of our Services or would like to make a complaint, please contact us at fkkcloud@gmail.com.</p>

<h2>DoubleClick DART Cookie</h2>
<p> 
.:: Google, as a third party vendor, uses cookies to serve ads on www.abluemarble.com.
.:: Google’s use of the DART cookie enables it to serve ads to users based on their visit to www.abluemarble.com and other sites on the Internet.
.:: Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy at the following URL – http://www.google.com/privacy_ads.html

Some of our advertising partners may use cookies and web beacons on our site. Our advertising partners include ….
Google Adsense

These third-party ad servers or ad networks use technology to the advertisements and links that appear on www.abluemarble.com send directly to your browsers. They automatically receive your IP address when this occurs. Other technologies ( such as cookies, JavaScript, or Web Beacons ) may also be used by the third-party ad networks to measure the effectiveness of their advertisements and / or to personalize the advertising content that you see.

www.abluemarble.com has no access to or control over these cookies that are used by third-party advertisers.

You should consult the respective privacy policies of these third-party ad servers for more detailed information on their practices as well as for instructions about how to opt-out of certain practices. www.abluemarble.com’s privacy policy does not apply to, and we cannot control the activities of, such other advertisers or web sites.

If you wish to disable cookies, you may do so through your individual browser options. More detailed information about cookie management with specific web browsers can be found at the browsers’ respective websites. </p>

<h2>Third Party Vendor</h2>
<p> 
Third party vendors, including Google, use cookies to serve ads based on a user’s prior visits to your website
</p>

</html>
