.line-description-mask {
  position:relative;
  width: 76%;
  margin: 32px auto 10px auto;
  font-size: 20px;
  line-height : 22px;
  height: 36px;
  top: 40px;
  left: 60px;
}
.line-description {
	top: 290px;
  position:absolute;
  width:inherit;
  text-align: center;
  opacity:0;
}

.line-description-01 {
	-webkit-animation: line-description-01-animation 70s linear;
}
.line-description-02 {
	-webkit-animation: line-description-02-animation 70s linear;
}
.line-description-03 {
	-webkit-animation: line-description-03-animation 70s linear;
}
.line-description-04 {
	-webkit-animation: line-description-04-animation 70s linear;
}
.line-description-05 {
	-webkit-animation: line-description-05-animation 70s linear;
}
.line-description-06 {
	-webkit-animation: line-description-06-animation 70s linear;
}
.line-description-07 {
	-webkit-animation: line-description-07-animation 70s linear;
}
.line-description-08 {
	-webkit-animation: line-description-08-animation 70s linear;
}

@keyframes line-description-01-animation {
	4% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  13% {
    opacity: 1;
  }
  14% {
    opacity: 0;
  }
}
@keyframes line-description-02-animation {
  17% {
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
  28% {
    opacity: 1;
  }
  29% {
    opacity: 0;
  }
}
@keyframes line-description-03-animation {
  34% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  43% {
    opacity: 1;
  }
  44% {
    opacity: 0;
  }
}
@keyframes line-description-04-animation {
  44% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  54% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
}
@keyframes line-description-05-animation {
  57% {
    opacity: 0;
  }
  58% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
}
@keyframes line-description-06-animation {
  67% {
    opacity: 0;
  }
  68% {
    opacity: 1;
  }
  73% {
    opacity: 1;
  }
  74% {
    opacity: 0;
  }
}
@keyframes line-description-07-animation {
  73% {
    opacity: 0;
  }
  74% {
    opacity: 1;
  }
  79% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}
@keyframes line-description-08-animation {
  79% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  86% {
    opacity: 0;
  }
}