.node-meta-mask {
  position:relative;
  width: 100%;
  margin: 32px auto 10px auto;
  font-size: 16px;
  line-height : 18px;
  height: 36px;
  overflow: hidden;
}
.node-meta-data {
  position:absolute;
  width:inherit;
  text-align: center;
  opacity:0;
}
.node-meta-first-animation {
  -webkit-animation: node-meta-first  90s 0s linear forwards;
}
.node-meta-second-animation {
  -webkit-animation: node-meta-second 90s 0s linear forwards;
}
.node-meta-third-animation {
  -webkit-animation: node-meta-third  90s 0s linear forwards;
}
.node-meta-fourth-animation {
  -webkit-animation: node-meta-fourth 90s 0s linear forwards;
}
@-webkit-keyframes node-meta-first {
  28% {
    opacity:0;
  }
  29% {
    opacity:1;
  }
  34% {
    opacity:1;
  }
  35% {
    opacity:0;
  }
}
@-webkit-keyframes node-meta-second {
  40% {
    opacity:0;
  }
  41% {
    opacity:1;
  }
  52% {
    opacity:1;
  }
  53% {
    opacity:0;
  }
}
@-webkit-keyframes node-meta-third {
  58% {
    opacity:0;
  }
  59% {
    opacity:1;
  }
  65% {
    opacity:1;
  }
  66% {
    opacity:0;
  }
}
@-webkit-keyframes node-meta-fourth {
  70% {
    opacity:0;
  }
  71% {
    opacity:1;
  }
  81% {
    opacity:1;
  }
  83% {
    opacity:0;
  }
}
